/**********************Mobile*******************/
@media screen and (max-width: 767px) {
    .showGalleryDesktop{
        display: none;
    }
}
/**********************Desktop*******************/
@media screen and (min-width: 767px) {
    .showGalleryMobile{
        display: none;
    }

}
