﻿
/*MOBILE VIEW STYLING*/
@media screen and (max-width: 767px) {
    /*Top Image*/

    .top-smart-header{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:55%;
    }
    .second-headers {
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:38%;
    }
    .third-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:44%;
    }
    .fourth-headers {
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:34%;
    }
    .fifth-headers {
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:36%;
    }
    .sixth-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:30%;
    }
    .Seventh-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:30%;
    }
    .eighth-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:30%;
    }
    .nineth-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:30%;
    }
    .tenth-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:45%;
    }
    #SmartCityImage {
        width: 100%;
        height: 50%;
        position: relative;
    }

    /*Nine Buttons*/
    .noPovBtn {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .zeroHungerBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .goodHealthBtn {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .equalityBtn {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .educationBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .waterBtn {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .energyBtn {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .workBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .industryBtn {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .inequalitiesBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .sustainableBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .productionBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .climateBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .belowWaterBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .onLandBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .peaceBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .partnershipBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .njeButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    #BusinessRow {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Business {
        width: 250px;
    }

    #Build {
        width: 400px;
    }

    #BuildImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Building {
        width: 250px;
    }

    #BuildDb {
        width: 400px;
    }

    #CommuImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Community {
        width: 250px;
    }

    #SmartEducation {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }
    #SmartEducationBlock {
        width: 310px;
        /*margin-left: 5px;*/
    }

    #Edu {
        width: 400px;
    }

    #EnviroImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;

    }

    #SmartEnvinron {
        width: 305px;
        margin-left: 30px;
    }

    #SmartEnvironmentBlock {
        width: 305px;
        /*margin-right: 305px;*/
        margin-right: 15%;
    }

    #GovImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #HealthImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Health {
        width: 250px;
    }

    #InfraImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Infrastructure {
        width: 305px;
        margin-left: 30px;
    }

    #MobiImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #SmartMob{
        width: 305px;
        margin-left: 30px;
    }

    #Desktopprogrampage {
        display: none;
    }
}


/*(mdpi) Android*/
@media only screen and (max-device-width:1280px){
    .Top-smart-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:80%;

    }
    .Second-smart-header{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:48%;
    }
    #Desktopprogrampage {
        display: none;
    }
}

/*DESkTOP VIEW STYLING*/
@media screen and (min-width: 767px) {
    .Top-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 40%;

    }

    .Second-smart-header {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 68%;
    }

    .Third-smart-header {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 68%;
    }

    .Fourth-smart-header {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 65%;
    }

    .Fifth-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 65%;
    }

    .Sixth-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 60%;
    }

    .Seventh-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 60%;
    }

    .Eight-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 62%;
    }

    .Nineth-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 60%;
    }

    .Tenth-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 70%;
    }


    #Mobileprogrampage {
        display: none;
    }

    .TopHearder {
        padding-left: 75%;
        padding-top: 5%;
    }

    #SmartTopSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartTopSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #SmartCityImage {
        width: 100%;
        height: 120%;
    }

    /*Nine Buttons*/
    .NoPovBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ZeroHungerBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .GoodHealthBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .EqualityBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .EducationBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .WaterBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .EnergyBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .WorkBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .IndustryBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .InequalitiesBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .SustainableBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ProductionBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ClimateBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .BelowWaterBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .OnLandBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .PeaceBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .PartnershipBtn {
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    #SmartSecondSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartSecondSection:hover {

        -webkit-filter: grayscale(0%);
    }

    /*#BusinessRow {*/
    /*    width: 100%;*/
    /*    height: 500px;*/
    /*}*/

    #BusinessSection {
        padding-left: 5%;
    }



    #BuildImage {
        width: 100%;
        height: 500px;
    }

    #SmartThirdSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartThirdSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #BuildingRow {
        padding-left: 5%;
    }

    #Buildn {
        background: rgba(0, 121, 52, 1);
        width: 300px;
        height: 132px;

    }

    #CommuImage {
        width: 100%;
        height: 500px;
    }

    #SmartFourthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartFourthSection:hover {

        -webkit-filter: grayscale(0%);
    }

    /*#Community {*/
    /*    padding-left: 5%;*/
    /*}*/



    #SmartEduImage {
        width: 100%;
        height: 500px;
    }

    #SmartFifthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartFifthSection:hover {

        -webkit-filter: grayscale(0%);
    }



    #SmartEnvImage {
        width: 100%;
        height: 500px;
    }

    #SmartSixthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartSixthSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #Educate {
        padding-left: 7%;
    }


    #GovImage {
        width: 100%;
        height: 500px;
    }

    #SmartSeventhSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartSeventhSection:hover {

        -webkit-filter: grayscale(0%);
    }



    #GovernanceRow {
        padding-left: 5%;
    }

    #HealthImage {
        width: 100%;
        height: 500px;
    }

    #SmartEigthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartEigthSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #HealthS {
        padding-left: 5%;
    }



    #InfraImage {
        width: 100%;
        height: 500px;
    }

    #SmartNinethSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartNinethSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #InfrastructureRow {
        padding-left: 5%;
    }



    #MobiImage {
        width: 100%;
        height: 500px;
    }

    #SmartTenthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartTenthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #MobilityRow {
        padding-left: 5%;
    }

    #Mobileprogrampage {
        display: none;
    }

    .oswald-light {
        font-family: 'Oswald-Light', 'Oswald Light', 'Oswald';
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
    }

    .oswald {
        font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
        font-weight: 500;
        font-style: normal;
        font-size: 45px;
        line-height: 45px;
    }

    .oswaldbody {
        font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        margin-left: -15px;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .roboto {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: normal;
        font-size: 16px;
        color: dimgrey;
    }

    .robotobody {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: bold;
        font-size: 13px;
        color: black;
        margin-left: -20px;
        padding-right: 15px;
        padding-left: 5px;
    }

    .limit {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .logo {
        height: 120px;
        width: 346px;
        margin-left: -25px;
        margin-top: -30px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .flexposition {
        display: flex;
        margin-top: 10px;
    }

    paragraph1 {
        border: 1px;
        border-style: solid;
        border-color: #9e9e9e;
        padding: 1px;
        font-size: 10px;
        margin-left: 10px;
    }

    #u131_img {
        border-width: 0px;
        width: 35px;
        height: 35px;
    }
    .justtext{
        text-align: justify;
        text-justify: inter-word;
    }


    /*Sustainable Development Goals*/
    #SDG1 {
        background: #e5243b;
        width: 300px;
        height: 110px;
    }
    #SDG2 {
        background: #dda63a;
        width: 300px;
        height: 110px;
    }

    #SDG3 {
        background: #4c9f38;
        width: 300px;
        height: 112px;
    }
    #SDG4 {
        background: #c5192d;
        width: 300px;
        height: 110px;
    }

    #SDG5 {
        background: #ff3a21;
        width: 300px;
        height: 110px;
    }

    #SDG6 {
        background: #26bde2;
        width: 300px;
        height: 110px;
    }

    #SDG7 {
        background: #fcc30b;
        width: 300px;
        height: 110px;
    }

    #SDG8 {
        background: #a21942;;
        width: 300px;
        height: 110px;
    }

    #SDG9 {
        background: #fd6925;
        width: 300px;
        height: 110px;
    }

    #SDG10 {
        background: #dd1367;
        width: 300px;
        height: 110px;
    }
    #SDG11 {
        background: #fd9D24;
        width: 300px;
        height: 110px;
    }
    #SDG12 {
        background: #bf8b2e;
        width: 300px;
        height: 110px;
    }
    #SDG13 {
        background: #3f7e44;
        width: 300px;
        height: 110px;
    }
    #SDG14 {
        background: #0a97d9;
        width: 300px;
        height: 110px;
    }
    #SDG15 {
        background: #56c02b;
        width: 300px;
        height: 110px;
    }
    #SDG16 {
        background: #00689d;
        width: 300px;
        height: 110px;
    }
    #SDG17 {
        background: #19486A;
        width: 300px;
        height: 110px;
    }
    .sdgBanner {
        height: 30%;
        width: 12%;
        margin-left: 70%;
        margin-top: 3%;
    }
}

