@media screen and (max-width: 767px) {
    /*Top Image*/
    #SmartCityImage {
        width: 400%;
        height: 150%;
        position: relative;
    }

    /*Nine Buttons*/
    .BusinessButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .BuildingButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .CommunityButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .EducationButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .EnviromentButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .GovernanceButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .HealthCareButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .InfrastrucureButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .MobilityButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .NjeButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }

    #BusinessRow {
        width: 400%;
        height: 150%;
        position: relative;
    }

    #Business {
        width: 250px;
    }

    #Build {
        width: 400px;
    }

    #BuildImage {
        width: 400%;
        height: 150%;
        position: relative;
    }

    #Building {
        width: 250px;
    }

    #BuildDb {
        width: 400px;
    }

    #CommuImage {
        width: 400%;
        height: 150%;
        position: relative;
    }

    #Community {
        width: 250px;
    }

    #SmartEducation {
        width: 400%;
        height: 150%;
        position: relative;
    }
    #SmartEducationBlock {
        width: 250px;
        margin-left: 50px;
    }

    #Edu {
        width: 400px;
    }

    #EnviroImage {
        width: 400%;
        height: 150%;
        position: relative;
    }

    #SmartEnvinron {
        width: 250px;
        margin-left: 50px;
    }

    #GovImage {
        width: 400%;
        height: 150%;
        position: relative;
    }

    #Goven {
        width: 250px;

    }

    #HealthImage {
        width: 400%;
        height: 150%;
        position: relative;
    }

    #Health {
        width: 250px;
    }

    #InfraImage {
        width: 400%;
        height: 150%;
        position: relative;
    }

    #Infrastructure {
        width: 250px;
        margin-left: 50px;
    }

    #MobiImage {
        width: 400%;
        height: 150%;
        position: relative;
    }

    #SmartMob{
        margin-left: 40px;
    }

    #Desktopprogrampage {
        display: none;
    }
}


/*DESkTOP VIEW STYLING*/
@media screen and (min-width: 767px) {
    #Mobileprogrampage {
        display: none;
    }

    #SmartCityImage {
        width: 100%;
        height: 500px;
        position: relative;
    }

    /*Nine Buttons*/
    .BusinessButton {
        background: #454242;

        background-position: center;
        background-size: cover;
        border: solid;
    }

    .BuildingButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .CommunityButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .EducationButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .EnviromentButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .GovernanceButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .HealthCareButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .InfrastrucureButton {
        background: rgba(0, 121, 52, 1);

        background-position: center;
        background-size: cover;
        border: solid;
    }

    .MobilityButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    #BusinessRow {
        width: 100%;
        height: 500px;
    }

    #BusinessSection{
        padding-left: 5%;
    }

    #Bus {
        width: 200px;
    }

    #BuildImage {
        width: 100%;
        height: 500px;
    }

    #BuildingRow {
        padding-left: 5%;
    }

    #Buildn {
        width: 200px;
    }

    #CommuImage {
        width: 100%;
        height: 500px;
    }

    #Community {
        padding-left: 5%;
    }

    #Commune {
        width: 200px;
    }

    #SmartEduImage {
        width: 100%;
        height: 500px;
    }

    #EducateC {
        width: 200px;
    }

    #Educate {
        padding-left: 7%;
    }

    #EnviroImage {
        width: 100%;
        height: 500px;
    }

    #GovImage {
        width: 100%;
        height: 500px;
    }

    #Goven {
        width: 200px;
    }

    #GovernanceRow {
        padding-left: 5%;
    }

    #HealthImage {
        width: 100%;
        height: 500px;
    }

    #HealthS {
        padding-left: 5%;
    }

    #HealthDiv {
        width: 200px;
    }

    #InfraImage {
        width: 100%;
        height: 500px;
    }

    #InfrastructureRow {
        padding-left: 5%;
    }

    #infra {
        width: 200px;
    }

    #MobiImage {
        width: 100%;
        height: 500px;
    }

    #MobilityRow {
        padding-left: 5%;
    }

    #Mob {
        width: 200px;
    }
}