@media screen and (max-width: 767px) {
    .landingDesktop{
        display:none;
    }
    h1 {
        text-shadow: 2px 2px #FF0000;
    }

    h2 {
        text-shadow: 2px 2px #FF0000;
    }

    .header img {
        float: left;
        width: 100px;
        height: 100px;
        background: #555;
    }

    .header h1 {
        position: relative;
        top: 18px;
        left: 140px;
    }

    .header h2 {
        position: relative;
        top: 18px;
        left: 500px;
    }


    .p2 {
        text-align: center;
        font-size: 40px;
        margin-top: 0px;
        color: white;
    }
    #back {
        background-image: url("/images/still3.jpg");
        padding: 15px 0px 0px 0px;
        line-height: 1.5;
        color: rgb(255, 255, 255);
        height: 100vh;
        overflow: hidden;
    }

    #main-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    h1 {
        color: rgb(255, 255, 255);
        font-size: 3.1em;
        text-align: center;
    }

    h3 {
        font-size: 1.9em;
    }

    h4 {
        font-size: 1.3em;
        line-height: 1.3;
    }

    hgroup {
        position: relative;
        margin-bottom: 10px;
    }

    hgroup h2 {
        color: rgb(255, 255, 255);
        background: rgb(238, 6, 11);
        padding: 10px 25px;
        text-align: center;
        font-size: 2.3em;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pile {
        position: relative;
        height: 500px;
        margin: 40px auto;
        bottom: 40px;
    }

    .venn-center-sphere {
        width: 405px;
        height: 275px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 20%;
        padding: 5% 0 10%;
        color: blue;
        background-image: url("/images/World.png");
        z-index: 1;
    }

    .venn-description {
        text-align: center;
    }

    .venn-title {
        font-size: 3em;
        color: rgb(196, 241, 107);
    }

    .venn-description {
        font-size: 1.5em;
    }


    .venn-orbit-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .venn-orbit {
        border: 2px rgb(115, 166, 183) solid;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50%;
        height: 100%;
        z-index: 0;
    }

    .venn-orbit-1 {
        transform: skewX(-45deg);
    }

    .venn-orbit-2 {
        transform: skewX(45deg);
    }

    .venn-orbit-3 {
        height: 50%;
        width: 100%;
    }

    .venn-sphere {
        width: 75px;
        height: 75px;
        position: absolute;
        transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        -moz-transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        -ms-transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        -o-transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        -webkit-transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        padding: 5% 0 5%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
    }

    .venn-sphere-title {
        font-size: 1.2em;
        text-align: center;
    }

    .venn-sphere-1 {
        /*Compensate for Parent Skew*/
        -webkit-animation: orbit-one 10s linear infinite;
        /* Chrome, Safari 5 */
        -moz-animation: orbit-one 10s linear infinite;
        /* Firefox 5-15 */
        -o-animation: orbit-one 10s linear infinite;
        /* Opera 12+ */
        animation: orbit-one 10s linear infinite;

        transform: skewX(45deg) !important;
    }

    @-webkit-keyframes orbit-one {
        from {
            -webkit-transform: rotate(0deg) translate(235px, -190px) rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg) translate(235px, -190px) rotate(-360deg);
        }
    }

    @-moz-keyframes orbit-one {
        from {
            -moz-transform: rotate(0deg) translate(235px, -190px) rotate(0deg);
        }
        to {
            -moz-transform: rotate(360deg) translate(225px, -190px) rotate(-360deg);
        }
    }

    @-o-keyframes orbit-one {
        from {
            -o-transform: rotate(0deg) translate(235px, -190px) rotate(0deg);
        }
        to {
            -o-transform: rotate(360deg) translate(235px, -190px) rotate(-360deg);
        }
    }

    @keyframes orbit-one {
        from {
            transform: rotate(0deg) translate(235px, -190px) rotate(0deg);
        }
        to {
            transform: rotate(360deg) translate(235px, -190px) rotate(-360deg);
        }
    }

}

@media screen and (min-width: 767px) {
    .landingMobile{
        display:none;
    }
    h1 {
        text-shadow: 2px 2px #FF0000;
    }

    h2 {
        text-shadow: 2px 2px #FF0000;
    }

    .header img {
        float: left;
        width: 100px;
        height: 100px;
        background: #555;
    }

    .header h1 {
        position: relative;
        top: 18px;
        left: 140px;
    }

    .header h2 {
        position: relative;
        top: 18px;
        left: 500px;
    }


    .p2 {
        text-align: center;
        font-size: 40px;
        margin-top: 0px;
        color: white;
    }
    #back {
        background-image: url("/images/still3.jpg");
        padding: 15px 0px 0px 0px;
        line-height: 1.5;
        color: rgb(255, 255, 255);
        height: 100vh;
        overflow: hidden;
    }

    #main-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    h1 {
        color: rgb(255, 255, 255);
        font-size: 3.1em;
        text-align: center;
    }

    h3 {
        font-size: 1.9em;
    }

    h4 {
        font-size: 1.3em;
        line-height: 1.3;
    }

    hgroup {
        position: relative;
        margin-bottom: 10px;
    }

    hgroup h2 {
        color: rgb(255, 255, 255);
        background: rgb(238, 6, 11);
        padding: 10px 25px;
        text-align: center;
        font-size: 2.3em;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pile {
        position: relative;
        height: 500px;
        margin: 40px auto;
        bottom: 40px;
    }

    .venn-center-sphere {
        width: 405px;
        height: 275px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 20%;
        padding: 5% 0 10%;
        color: blue;
        background-image: url("/images/World.png");
        z-index: 1;
    }

    .venn-description {
        text-align: center;
    }

    .venn-title {
        font-size: 3em;
        color: rgb(196, 241, 107);
    }

    .venn-description {
        font-size: 1.5em;
    }


    .venn-orbit-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .venn-orbit {
        border: 2px rgb(115, 166, 183) solid;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50%;
        height: 100%;
        z-index: 0;
    }

    .venn-orbit-1 {
        transform: skewX(-45deg);
    }

    .venn-orbit-2 {
        transform: skewX(45deg);
    }

    .venn-orbit-3 {
        height: 50%;
        width: 100%;
    }

    .venn-sphere {
        width: 75px;
        height: 75px;
        position: absolute;
        transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        -moz-transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        -ms-transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        -o-transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        -webkit-transition: width 800ms, height 800ms, border-radius 800ms, border 800ms, left 800ms, top 800ms;
        padding: 5% 0 5%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
    }

    .venn-sphere-title {
        font-size: 1.2em;
        text-align: center;
    }

    .venn-sphere-1 {
        /*Compensate for Parent Skew*/
        -webkit-animation: orbit-one 10s linear infinite;
        /* Chrome, Safari 5 */
        -moz-animation: orbit-one 10s linear infinite;
        /* Firefox 5-15 */
        -o-animation: orbit-one 10s linear infinite;
        /* Opera 12+ */
        animation: orbit-one 10s linear infinite;

        transform: skewX(45deg) !important;
    }

    @-webkit-keyframes orbit-one {
        from {
            -webkit-transform: rotate(0deg) translate(235px, -190px) rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg) translate(235px, -190px) rotate(-360deg);
        }
    }

    @-moz-keyframes orbit-one {
        from {
            -moz-transform: rotate(0deg) translate(235px, -190px) rotate(0deg);
        }
        to {
            -moz-transform: rotate(360deg) translate(225px, -190px) rotate(-360deg);
        }
    }

    @-o-keyframes orbit-one {
        from {
            -o-transform: rotate(0deg) translate(235px, -190px) rotate(0deg);
        }
        to {
            -o-transform: rotate(360deg) translate(235px, -190px) rotate(-360deg);
        }
    }

    @keyframes orbit-one {
        from {
            transform: rotate(0deg) translate(235px, -190px) rotate(0deg);
        }
        to {
            transform: rotate(360deg) translate(235px, -190px) rotate(-360deg);
        }
    }

}



