
/*MOBILE VIEW STYLING*/
@media screen and (max-width: 767px) {
    /*Top Image*/
    #desktop{
        display: none;
    }
    .top-smart-header{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:58%;
    }
    .second-headers {
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:38%;
    }
    .third-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:44%;
    }
    .fourth-headers {
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:34%;
    }
    .fifth-headers {
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:36%;
    }
    .sixth-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:30%;
    }
    .Seventh-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:30%;
    }
    .eighth-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:30%;
    }
    .nineth-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:30%;
    }
    .tenth-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:45%;
    }
    #SmartCityImage {
        width: 100%;
        height: 50%;
        position: relative;
    }

    /*Nine Buttons*/
    .BusinessButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .BuildingButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .CommunityButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .EducationButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .EnviromentButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .GovernanceButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .HealthCareButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .InfrastrucureButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .MobilityButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .NjeButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    #BusinessRow {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Business {
        width: 250px;
    }

    #Build {
        width: 400px;
    }

    #BuildImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Building {
        width: 250px;
    }

    #BuildDb {
        width: 400px;
    }

    #CommuImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Community {
        width: 250px;
    }

    #SmartEducation {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }
    #SmartEducationBlock {
        width: 310px;
        /*margin-left: 5px;*/
    }

    #Edu {
        width: 400px;
    }

    #EnviroImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;

    }

    #SmartEnvinron {
        width: 305px;
        margin-left: 30px;
    }

    #SmartEnvironmentBlock {
        width: 305px;
        /*margin-right: 305px;*/
        margin-right: 15%;
    }

    #GovImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Goven {
        width: 250px;

    }

    #HealthImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Health {
        width: 250px;
    }

    #InfraImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #Infrastructure {
        width: 305px;
        margin-left: 30px;
    }

    #MobiImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #SmartMob{
        width: 305px;
        margin-left: 30px;
    }

    #Desktopprogrampage {
        display: none;
    }
}


/*(mdpi) Android*/
@media only screen and (max-device-width:1280px){
    .Top-smart-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:80%;

    }
    .Second-smart-header{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:48%;
    }
}

/*DESkTOP VIEW STYLING*/
@media screen and (min-width: 767px) {
    #mobile{
        display: none;
    }

    .Top-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 80%;

    }

    .Second-smart-header {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 68%;
    }

    .Third-smart-header {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 68%;
    }

    .Fourth-smart-header {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 65%;
    }

    .Fifth-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 65%;
    }

    .Sixth-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 60%;
    }

    .Seventh-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 60%;
    }

    .Eight-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 62%;
    }

    .Nineth-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 60%;
    }

    .Tenth-smart-headers {
        font-size: 4rem;
        font-family: Arial;
        margin-top: 55vh;
        padding-left: 70%;
    }


    #Mobileprogrampage {
        display: none;
    }

    .TopHearder {
        padding-left: 75%;
        padding-top: 5%;
    }

    #SmartTopSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartTopSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #SmartCityImage {
        width: 100%;
        height: 120%;
    }

    /*Nine Buttons*/
    .BusinessButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .BuildingButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .CommunityButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .EducationButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .EnviromentButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .GovernanceButton {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .HealthCareButton {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .InfrastrucureButton {
        background: rgba(0, 121, 52, 1);

        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .MobilityButton {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    #SmartSecondSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartSecondSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #BusinessRow {
        width: 100%;
        height: 500px;
    }

    #BusinessSection {
        padding-left: 5%;
    }

    #Bus {
        background: #454242;
        width: 300px;
        height: 112px;
    }

    #BuildImage {
        width: 100%;
        height: 500px;
    }

    #SmartThirdSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartThirdSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #BuildingRow {
        padding-left: 5%;
    }

    #Buildn {
        background: rgba(0, 121, 52, 1);
        width: 300px;
        height: 132px;

    }

    #CommuImage {
        width: 100%;
        height: 500px;
    }

    #SmartFourthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartFourthSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #Community {
        padding-left: 5%;
    }

    #Commune {
        background: rgba(0, 47, 95, 1);
        width: 300px;
        height: 151px;
    }

    #SmartEduImage {
        width: 100%;
        height: 500px;
    }

    #SmartFifthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartFifthSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #EducateC {
        background: rgba(0, 47, 95, 1);
        width: 300px;
        height: 110px;
    }

    #EnviroDesktop {
        background: #454242;
        width: 300px;
        height: 90px;
    }

    #SmartEnvImage {
        width: 100%;
        height: 500px;
    }

    #SmartSixthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartSixthSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #Educate {
        padding-left: 7%;
    }

    #GovImage {
        width: 100%;
        height: 500px;
    }

    #SmartSeventhSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartSeventhSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #Goven {
        background: rgba(0, 121, 52, 1);
        width: 300px;
        height: 120px;
    }

    #GovernanceRow {
        padding-left: 5%;
    }

    #HealthImage {
        width: 100%;
        height: 500px;
    }

    #SmartEigthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartEigthSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #HealthS {
        padding-left: 5%;
    }

    #HealthDiv {
        background: #454242;
        width: 300px;
        height: 136px;
    }

    #InfraImage {
        width: 100%;
        height: 500px;
    }

    #SmartNinethSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartNinethSection:hover {

        -webkit-filter: grayscale(0%);
    }

    #InfrastructureRow {
        padding-left: 5%;
    }

    #infra {
        background: rgba(0, 121, 52, 1);
        width: 300px;
        height: 119px;
    }

    #MobiImage {
        width: 100%;
        height: 500px;
    }

    #SmartTenthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #SmartTenthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #MobilityRow {
        padding-left: 5%;
    }

    #Mob {
        background: rgba(0, 47, 95, 1);
        width: 300px;
        height: 119px;
    }
    .logo {
        height: 120px;
        width: 346px;
        margin-left: -25px;
        margin-top: -30px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .oswaldbody {
        font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        margin-left: -15px;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .robotobody {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: bold;
        font-size: 13px;
        color: black;
        margin-left: -20px;
        padding-right: 15px;
        padding-left: 5px;
    }

    .limit {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
