﻿/*Desktop CSS*/
@media screen and (min-width: 767px) {
    #stage1Zoom{

        transition: transform .2s; /* Animation */
        width: 130px;
        height: 100px;

    }
    #stage1Zoom:hover{
        transform: scale(2);
    }


    .programs-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }

    .innovators-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header2{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header3{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header4{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header5{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header6{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header7{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header8{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header9{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header12{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }
    .innovators-section-header10{
        font-size: 4rem;
        font-family:Arial;
        margin-top:34vh;
        padding-left:64%;
    }

    #InnovatorsTopSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;
    }

    #InnovatorsTopSectionImage {
        width: 80%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsSecondSectionMobile {
        display: none;
    }


    .IdeaBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .ventureBlock{
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
        color: white;
        height:4em;
        top:10vh;

    }

    .ProgrammesBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .IdeaReadyBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .FundingOptionsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .FAQBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .ApplyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

   #InnovatorsThirdSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }
    #InnovatorsThirdSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsThirdSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsThirdSectionMobile {
        display: none;
    }

    .INDBlock1{
        background: url(/images/Innovators/IND.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;

    }

    .ICTBlock1{
        background: url('/images/Innovators/2. ICT.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }


    .ICTBlock {
        background: url('/images/Innovators/2. ICT.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .INDBlock {
        background: url(/images/Innovators/IND.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .ICTIdeaBlock {
        background: url(/images/Innovators/IdeaImage.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .ICTDesignBlock {
        background: url('/images/Innovators/2.2 ICT DEsign.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }


    .ICTPrototypeBlock {
        background: url('/images/Innovators/2.3 ICT Prototype.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .INDIdeaBlock {
        background: url(/images/Innovators/INDIdea.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .INDDesignBlock {
        background: url('/images/Innovators/1.2 Ind Design.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .INDPrototypeBlock {
        background: url('/images/Innovators/1.3 Ind Prototyype.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .ICTFirstCancelBlock {
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    .ICTSecondCancelBlock {
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    .INDFirstCancelBlock {
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    .INDSecondCancelBlock {
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    .INDSecondCancelBlock2 {
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    .INDSecondCancelBlock1 {
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

   #InnovatorsFourthSection2{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #InnovatorsFourthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsFourthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsFourthSectionMobile {
        display: none;
    }

   #InnovatorsFifthSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #InnovatorsFifthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsFifthSectionImage {
        width: 100%;
        height: 100%;
    }

    #InnovatorsFifthSectionMobile {
        display: none;
    }

    .FuturemakersBlock {
        background: black;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }
    .FuturemakersBlock1{
        background: black;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .FuturemakersProgrammeInfoBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
        cursor: pointer;
    }

    .FuturemakersContentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
        cursor: pointer;
    }

    .FuturemakersVenturesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
        width:20em;
        cursor: pointer;

    }

    .PrototypeBlock{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }
    .DesignBlock{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .INDTechBlock{
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .ICTOptionsBlock{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .HowAdvancedIND{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }
    .HowAdvancedBlock{
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }


    .IndustrialHubBlock1 {
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
        cursor: pointer;
    }

    .ISUZUProgrammeInfoBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
        cursor: pointer;
    }

    .ISUZUContentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
        cursor: pointer;
    }

    .ISUZUVenturesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
        cursor: pointer;
    }



    #ProgrammesTopSection1{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #ProgrammesTopSection1:hover{
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsImage{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #InnovatorsImage:hover{
        -webkit-filter: grayscale(0%);
    }
    #InnovatorsSectionImage{
        width: 100%;
        height: 120%;
    }

    #InnovatorsSixthSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #topimage1{
        width: 100%;
        height: 120%;
    }

    #InnovatorsSixthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsSixthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsSixthSectionMobile {
        display: none;
    }

   #InnovatorsSeventhSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #InnovatorsSeventhSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsSeventhSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsSeventhSectionMobile {
        display: none;
    }

    .MoreInfoBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .TIAQuestionsBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .CriteriaBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .FundedActivitiesBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .ExcludedActivitiesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .TIAApplyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

   #InnovatorsEigthSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #InnovatorsEigthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsEigthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsEigthSectionMobile {
        display: none;
    }

    #InnovatorsTwelfthSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #InnovatorsTwelfthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    .InterestedBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .SubmittedApplicationBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .ApplicationBlock1 {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }


    #InnovatorsTwelfthSectionMobile {
        display: none;
    }

    #InnovatorsTwelfthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }
    #InnovatorsTwelfthSectionImage {
         width: 100%;
         height: 150%;
         /*object-position: bottom;*/
         /*object-fit: contain;*/
     }
    /*#InnovatorsTwelfthSectionImage {*/
    /*    width: 100%;*/
    /*    height: 150%;*/
    /*}*/

    /*#InnovatorsTwelfthSectionDesktop {*/
    /*    display: none;*/
    /*}*/
    .JourneyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .IncubationBenefitsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .AccelerationBenefitsBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .OnsiteBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .MentorsBlock1 {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .MentorsBlock2 {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .GraduateBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .AcceptedBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }



    .ApplicationBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }



   #InnovatorsNinthSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #InnovatorsNinthSection:hover {
        -webkit-filter: grayscale(0%);
    }



    #InnovatorsNinthSectionImage {
        width: 100%;
        height: 150%;
    }


    #InnovatorsNinthSectionMobile {
        display: none;
    }

   #InnovatorsTenthSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #InnovatorsTenthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsTenthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsTenthSectionMobile {
        display: none;
    }
    #mobile{
        display: none;
    }

}

/*(mdpi) Android*/
@media only screen and (max-device-width:1280px){
    .innovators-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:62%;
    }
    .innovators-section-header2{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:48%;
    }
    .innovators-section-header3{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:44%;
        color: white;
    }
    .innovators-section-header4{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:66%;
    }
    .innovators-section-header5{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:77%;
    }
    .innovators-section-header6{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:48%;
    }
    .innovators-section-header7{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:58%;
    }
    .innovators-section-header8{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:58%;
    }
    .innovators-section-header9{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:54%;
    }
    .innovators-section-header12{
        font-size: 4rem;
        font-family:Arial;
        margin-top:44vh;
        padding-left:54%;
    }
    .programs-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:49%;
    }
    #InnovatorsTwelfthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }
    #InnovatorsTwelfthSectionImage {
        width: 100%;
        height: 150%;
        /*object-position: bottom;*/
        /*object-fit: contain;*/
    }
    /*#InnovatorsTwelfthSectionImage {*/
    /*    width: 100%;*/
    /*    height: 150%;*/
    /*}*/

    /*#InnovatorsTwelfthSectionDesktop {*/
    /*    display: none;*/
    /*}*/
    .JourneyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .IncubationBenefitsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .AccelerationBenefitsBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .OnsiteBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .MentorsBlock1 {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .MentorsBlock2 {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .GraduateBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .AcceptedBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

}

/*Mobile CSS*/
@media screen and (max-width: 767px) {
    .ventureBlock{
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        cursor: pointer;
        color: white;
        height:3em;
        top:10vh;
        /*
        margin-left: 100px;
        */

    }
    .ProgramsStagesDesktop{
        display:none;
    }
    .programs-section-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:18%;
        color:white;
    }

    .innovators-section-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:40%;
        color: white;
    }
    .innovators-section-header2{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:20%;
    }
    .innovators-section-header3{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:8%;
    }
    .innovators-section-header4{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:52%;
    }
    .innovators-section-header5{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:62%;
    }
    .innovators-section-header6{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:22%;
    }
    .innovators-section-header7{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:34%;
    }
    .innovators-section-header8{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:40%;
    }
    .innovators-section-header9{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:30%;
    }
    .innovators-section-header12{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:30%;
    }
    #InnovatorsTopSection {
        color: black;
        text-shadow: 5px 3px 1px #000000;
    }

    #InnovatorsTopSectionImage {
        width: 250%;
        height: 50%;
    }
    #HowAdvancedBlock{
        background: #000000;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }
    #ICTHubBlock{
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }

    #INDAdvancedBlock{
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }
    #INDTechBlock{
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }
    #DesignBlock{
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }
    #PrototypeBlock{
        background:#4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }

    .CancelBlockInd{
        background: #3d4852;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
    }
    .CancelBlockIND0{
        background: #3d4852;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
    }


    .CancelBlock1{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
    }
    .CancelBlockINDM3{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
    }

    .CancelBlock{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
    }

    #InnovatorsSecondSectionDesktop {
        display: none;
    }
    #topimage1{
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }
    .IdeaBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .ProgrammesBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .IdeaReadyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .FundingOptionsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .FAQBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .ApplyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    #InnovatorsThirdSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #InnovatorsThirdSectionImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #InnovatorsThirdSectionDesktop {
        display: none;
    }
    #InnovatorsTwelfthSectionDesktop {
        display: none;
    }



    .ICTBlockMobile {
        background: url('/images/Innovators/2. ICT.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .INDBlockMobile {
        background: url(/images/Innovators/IND.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .ICTIdeaBlockMobile {
        background: url(/images/Innovators/IdeaImage.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .ICTDesignBlockMobile {
        background: url('/images/Innovators/2.2 ICT DEsign.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .ICTPrototypeBlockMobile {
        background: url('/images/Innovators/2.3 ICT Prototype.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .INDIdeaBlockMobile{
        background: url(/images/Innovators/INDIdea.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .INDDesignBlockMobile {
        background: url('/images/Innovators/1.2 Ind Design.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .INDPrototypeBlockMobile {
        background: url('/images/Innovators/1.3 Ind Prototyype.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }
    .idea1{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
    }

    .FirstCancelBlock {
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }
    .CancelBlockIND3{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }
    .CancelBlockIND2{
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        cursor: pointer;
    }

    .SecondCancelBlock {
        background: #4e555b;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    #InnovatorsFourthSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;

    }

    #InnovatorsFourthSectionImage {
        width: 100%;
        height: 120%;
    }

    #InnovatorsFourthSectionDesktop {
        display: none;
    }

    #InnovatorsFifthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;
    }

    #InnovatorsFifthSectionImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #InnovatorsFifthSectionDesktop {
        display: none;
    }

    .FuturemakersBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .FuturemakersProgrammeInfoBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .FuturemakersContentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .FuturemakersVenturesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    #HowAdvancedBlock{
        background: #3d4852;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }


    .IndustrialHubBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .ISUZUProgrammeInfoBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .ISUZUContentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    .ISUZUVenturesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
        cursor: pointer;
    }

    #InnovatorsSixthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #InnovatorsSixthSectionImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #InnovatorsSixthSectionDesktop {
        display: none;
    }

    #InnovatorsSeventhSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #InnovatorsSeventhSectionImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #InnovatorsSeventhSectionDesktop {
        display: none;
    }

    .MoreInfoBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .TIAQuestionsBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .CriteriaBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .FundedActivitiesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .ExcludedActivitiesBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .TIAApplyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    #InnovatorsEigthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }
    #InnovatorsEigthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsTwelfthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsTwelfthSectionImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #InnovatorsEigthSectionImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #InnovatorsEigthSectionDesktop {
        display: none;
    }

    .InterestedBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }

    .SubmittedApplicationBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }
    .ApplicationBlock1{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }


    .ApplicationBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }

    #InnovatorsNinthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #InnovatorsNinthSectionImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }


    #InnovatorsNinthSectionDesktop {
        display: none;
    }


    #InnovatorsTenthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #InnovatorsTenthSectionImage {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }

    #InnovatorsTenthSectionDesktop {
        display: none;
    }
    #desktop{
        display: none;
    }
    .JourneyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }
    .IncubationBenefitsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }
    .AccelerationBenefitsBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }
    .OnsiteBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }
    .MentorsBlock1 {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }
    .MentorsBlock2 {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }
    .GraduateBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }
    .AcceptedBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
        cursor: pointer;
    }

}

