/*Desktop CSS*/
@media screen and (min-width: 767px) {
    #InnovatorsTopSection {
        color: white;
    }

    #InnovatorsTopSectionImage {
        width: 100%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsSecondSectionMobile {
        display: none;
    }

    .IdeaBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ProgrammesBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .IdeaReadyBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .FundingOptionsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .FAQBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ApplyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    #InnovatorsThirdSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsThirdSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsThirdSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsThirdSectionMobile {
        display: none;
    }

    .ICTBlock {
        background: url('/images/Innovators/2. ICT.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
    }

    .INDBlock {
        background: url(/images/Innovators/IND.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
    }

    .ICTIdeaBlock {
        background: url(/images/Innovators/IdeaImage.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
    }

    .ICTDesignBlock {
        background: url('/images/Innovators/2.2 ICT DEsign.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
    }

    .ICTPrototypeBlock {
        background: url('/images/Innovators/2.3 ICT Prototype.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
    }

    .INDIdeaBlock {
        background: url(/images/Innovators/INDIdea.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
    }

    .INDDesignBlock {
        background: url('/images/Innovators/1.2 Ind Design.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
    }

    .INDPrototypeBlock {
        background: url('/images/Innovators/1.3 Ind Prototyype.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 40vh;
    }

    .ICTFirstCancelBlock {
        background: #000000;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
    }

    .ICTSecondCancelBlock {
        background: #000000;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
    }

    .INDFirstCancelBlock {
        background: #000000;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
    }

    .INDSecondCancelBlock {
        background: #000000;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
    }

    #InnovatorsFourthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsFourthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsFourthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsFourthSectionMobile {
        display: none;
    }

    #InnovatorsFifthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsFifthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsFifthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsFifthSectionMobile {
        display: none;
    }

    .FuturemakersBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
    }

    .FuturemakersProgrammeInfoBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
    }

    .FuturemakersContentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
    }

    .FuturemakersVenturesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
    }

    .IndustrialHubBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
    }

    .ISUZUProgrammeInfoBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
    }

    .ISUZUContentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
    }

    .ISUZUVenturesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 30vh;
    }

    #InnovatorsSixthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsSixthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsSixthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsSixthSectionMobile {
        display: none;
    }

    #InnovatorsSeventhSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsSeventhSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsSeventhSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsSeventhSectionMobile {
        display: none;
    }

    .MoreInfoBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .TIAQuestionsBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .CriteriaBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .FundedActivitiesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ExcludedActivitiesBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .TIAApplyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    #InnovatorsEigthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsEigthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsEigthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsEigthSectionMobile {
        display: none;
    }

    .InterestedBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .SubmittedApplicationBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ApplicationBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    #InnovatorsNinthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsNinthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsNinthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsNinthSectionMobile {
        display: none;
    }

    #InnovatorsTenthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsTenthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovatorsTenthSectionImage {
        width: 100%;
        height: 150%;
    }

    #InnovatorsTenthSectionMobile {
        display: none;
    }
}


/*Mobile CSS*/
@media screen and (max-width: 767px) {
    #InnovatorsTopSection {
        color: black;
    }

    #InnovatorsTopSectionImage {
        width: 400%;
        height: 150%;
    }

    #InnovatorsSecondSectionDesktop {
        display: none;
    }

    .IdeaBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ProgrammesBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .IdeaReadyBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .FundingOptionsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .FAQBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ApplyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    #InnovatorsThirdSection {
        color: white;
    }

    #InnovatorsThirdSectionImage {
        width: 400%;
        height: 150%;
    }

    #InnovatorsThirdSectionDesktop {
        display: none;
    }

    .ICTBlock {
        background: url('/images/Innovators/2. ICT.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .INDBlock {
        background: url(/images/Innovators/IND.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .ICTIdeaBlock {
        background: url(/images/Innovators/IdeaImage.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .ICTDesignBlock {
        background: url('/images/Innovators/2.2 ICT DEsign.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .ICTPrototypeBlock {
        background: url('/images/Innovators/2.3 ICT Prototype.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .INDIdeaBlock {
        background: url(/images/Innovators/INDIdea.jpg);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .INDDesignBlock {
        background: url('/images/Innovators/1.2 Ind Design.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .INDPrototypeBlock {
        background: url('/images/Innovators/1.3 Ind Prototyype.jpg');
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .FirstCancelBlock {
        background: #000000;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
    }

    .SecondCancelBlock {
        background: #000000;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
    }

    #InnovatorsFourthSection {
        color: white;
    }

    #InnovatorsFourthSectionImage {
        width: 400%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsFourthSectionDesktop {
        display: none;
    }

    #InnovatorsFifthSection {
        color: white;
    }

    #InnovatorsFifthSectionImage {
        width: 400%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsFifthSectionDesktop {
        display: none;
    }

    .FuturemakersBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .FuturemakersProgrammeInfoBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .FuturemakersContentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .FuturemakersVenturesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .IndustrialHubBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .ISUZUProgrammeInfoBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .ISUZUContentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    .ISUZUVenturesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        color: white;
        height: 15vh;
    }

    #InnovatorsSixthSection {
        color: white;
    }

    #InnovatorsSixthSectionImage {
        width: 400%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsSixthSectionDesktop {
        display: none;
    }

    #InnovatorsSeventhSection {
        color: white;
    }

    #InnovatorsSeventhSectionImage {
        width: 400%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsSeventhSectionDesktop {
        display: none;
    }

    .MoreInfoBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .TIAQuestionsBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .CriteriaBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .FundedActivitiesBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ExcludedActivitiesBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .TIAApplyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    #InnovatorsEigthSection {
        color: white;
    }

    #InnovatorsEigthSectionImage {
        width: 400%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsEigthSectionDesktop {
        display: none;
    }

    .InterestedBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
    }

    .SubmittedApplicationBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
    }

    .ApplicationBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        height: 8vh;
    }

    #InnovatorsNinthSection {
        color: white;
    }

    #InnovatorsNinthSectionImage {
        width: 400%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsNinthSectionDesktop {
        display: none;
    }

    #InnovatorsTenthSection {
        color: white;
    }

    #InnovatorsTenthSectionImage {
        width: 400%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #InnovatorsTenthSectionDesktop {
        display: none;
    }
}
