﻿nav a.sidenav-trigger {
    display: inline !important;
}

nav ul a {
    color: black !important;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: 90px !important;
}

nav {
    height: 100px !important;
}

#desktopLog {
    display: block;
}
#mobileLog {
         display: none;
     }

@media only screen and (max-width: 600px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    #mobileLog {
        display: block;
    }
    #desktopLog {
        display: none;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}
