@media screen and (max-width: 767px) {
    #bootcamperDashboardDesktop{
        display:none;
    }

}

@media screen and (min-width: 767px) {
    #bootcamperDashboardMobile{
        display:none;
    }
}
