/*Desktop*/
@media screen and (min-width: 767px) {
    .pageTop {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .services {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }


    .programme {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .mentors {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .apply {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .contact {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .servicesPTI {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .programmePTI {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .mentorsPTI {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .applyPTI {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .contactUs {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .mediaPTI {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .partnerPTI {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .venturePTI {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    #servImg {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;

    }
    #servImg:hover {
        -webkit-filter: grayscale(0%);
        text-shadow: 5px 3px 1px #000000;
    }

    #progImg {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;

    }
    #progImg:hover {
        -webkit-filter: grayscale(0%);
        text-shadow: 5px 3px 1px #000000;
    }
    #text{
        display: none;
    }
    #text2{
        display: none;
    }
    .btn-container{
        margin: auto;
        height:44px;
        width:166.23px;
    }
    button{
        user-select:none;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        cursor:pointer;
        border:none;
        padding:8px;
        font-size:16px;
        background: rgba(0, 121, 52, 0.8);
        color:white;
        box-sizing:border-box;
        border-radius: 5px;
    }
    .keyareas{
        text-align: justify;
        font-size: 17px;
        margin-left: 10px;
    }
    .justtext{
        text-align: justify;
        text-justify: inter-word;
    }

    #aboutMobile{
        display: none;
    }
    #aboutImageMobile{
        display: none;
    }
    #programmeImageMobile{
        display: none;
    }
    #programmeMobile{
        display: none;
    }
    #mentorsImageMobile{
        display: none;
    }
    #mentorsMobile{
        display: none;
    }
    #servicesImageMobile{
        display: none;
    }
    #servicesMobile{
        display: none;
    }
    #applyImageMobile{
        display: none;
    }
    #applyMobile{
        display: none;
    }
    #contactImageMobile{
        display: none;
    }
    #contactMobile{
        display: none;
    }



/*-----------------------------------------------------------------------*/

    #aboutMobile{
        display: none;
    }
    #aboutImageMobile{
        display: none;
    }
    #programmeImageMobile{
        display: none;
    }
    #programmeMobile{
        display: none;
    }
    #mentorsImageMobile{
        display: none;
    }
    #mentorsMobile{
        display: none;
    }
    #servicesImageMobile{
        display: none;
    }
    #servicesMobile{
        display: none;
    }
    #applyImageMobile{
        display: none;
    }
    #applyMobile{
        display: none;
    }
    #contactImageMobile{
        display: none;
    }
    #contactMobile{
        display: none;
    }
}

/*-----------------------------------------------------------------------*/

/*mobile*/
@media screen and (max-width: 767px) {
    .servicesmob {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .programmemob {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .mentorsmob {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .apply {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .contact {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .justtext{
        text-align: justify;
        text-justify: inter-word;
    }

    #aboutDesktop{
        display: none;
    }
    #aboutImageDesktop{
        display: none;
    }
    #programmeImageDesktop{
        display: none;
    }
    #programmeDesktop{
        display: none;
    }
    #mentorsImageDesktop{
        display: none;
    }
    #mentorsDesktop{
        display: none;
    }
    #servicesImageDesktop{
        display:none;
    }
    #servicesDesktop{
        display: none;
    }
    #applyImageDesktop{
        display: none;
    }
    #applyDesktop{
        display: none;
    }
    #contactImageDesktop{
        display: none;
    }
    #contactDesktop{
        display: none;
    }
    #visionDesktop{
        display: none;
    }

}
