/**********************Mobile*******************/
@media screen and (max-width: 767px) {
    .desktopLearningCurves{
        display: none;
    }


}
/**********************Desktop*******************/
@media screen and (min-width: 767px) {

    .mobileLearningCurves{
        display: none;
    }

}
