
html {
    font-family: Arial;
}

/************Mobile************/
@media screen and (max-width: 767px) {

    #VentureDesktop{
        display: none;
    }
    #SmartTopSection{
        height:60vh;
    }
    .profile-section-headers {
        font-size: 2rem;
        font-family: Arial;
        margin-top: 50vh;
        padding-left: 10%;
    }
    .ThirdDesktop{
        display:none;
    }


    .SecondDesktop{
        display:none;
    }


    .FourthDesktop {
        display: none;
    }
    #TopImage {
        width: 100%;
        height: 120%;
    }

    #ProfileTopSectionMobile{
        display:none;
    }
    #ElevatorPitch {
        /*margin-top: 3em;*/
        padding-right: 30px;
        padding-left: 25px;
        font-family: Arial;
        margin-left: 10px;
        margin-right: 10px;
    }

    #SecondSection {
        background: #e3dcdc;
    }

    #vertical-line-second {
        margin-top: 40px;
        padding-left: 20px;
        font-family: Arial;
    }

    #ForthSection {
        background: #b6b2b2;
    }
    #ButtonBackground {
        background: #e3dcdc;
    }
    #InvestInUsButton {
        padding-bottom: 70px;
        padding-top: 190px;
        margin-left: 100px;
        width: 60%;
        height: 30px;
        padding-top: 30px;
    }
}


/*************Desktop****************/
@media screen and (min-width: 767px) {
    #VentureMobile{
        display: none;
    }
    #infographicBtn{
        background: rgba(0, 47, 95, 1);
    }
    #SmartTopSection{
        -webkit-filter: grayscale(100%);
    }
    .mobileTop {
        display: none;
    }
    #MobileSecondSection {
        display: none;
    }
    #mobileThird {
        display: none;
    }
    .mobileFourth {
        display: none;
    }
    .profile-section-headers {
        font-size: 4rem;
        font-family: 'Roboto', sans-serif;
        margin-top:50vh;
        padding-left:33%;
    }

    #ProfileTopSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;
        margin-top: 4em;
        padding-right: 15px;
        padding-left: 25px;
        font-family: 'Roboto', sans-serif;
    }
    #TopImage {
        width: 100%;
        height: 120%;
        -webkit-filter: grayscale(100%);
    }

    #ElevatorPitch {
        /*margin-top: 3em;*/
        padding-right: 30px;
        padding-left: 25px;
        font-family: 'Roboto', sans-serif;
        margin-left: 10px;
        margin-right: 10px;
    }
    #SecondSection {
        background: #e3dcdc;
        height:30%;
    }
    #vertical-line {
        margin-top: 40px;
        padding-left: 50px;
        font-family: 'Roboto', sans-serif;
    }
    #vertical-line-second2{
        margin-top: 5px;
        border-left: double;
        padding-left: 28px;
        font-family: 'Roboto', sans-serif;
        height: 30vh;
    }
    #vertical-line-second {
        margin-top: 40px;
        border-left: double;
        padding-left: 28px;
        font-family: 'Roboto', sans-serif;
    }

    #ForthSection {
        background: #b6b2b2;
    }
    #ButtonBackground {
        background: #e3dcdc;
    }
    #InvestInUsButton {
        padding-bottom: 10px;
        padding-top: 190px;
        margin-left: 245px;
        width: 20%;
        height: 20px;
    }

    .oswald-light {
        font-family: 'Oswald-Light', 'Oswald Light', 'Oswald';
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
    }
    .oswald {
        font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
        font-weight: 500;
        font-style: normal;
        font-size: 45px;
        line-height: 45px;
    }.oswaldbody {
        font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
    }
    .roboto {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: normal;
        font-size: 16px;
        color: dimgrey;
    }
    .robotobody {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: normal;
        font-size: 12px;
        color: dimgrey;
    }

    body {
        background-color:rgba(238, 238, 238, 1);
    }

    .tags {
        pointer-events: none;
        background-color: white;
        box-shadow: 2px 2px darkgrey;
        color: #9F9F9F;
        cursor: default;
        padding: 10px;
        border-radius: 5px;
    }
    .founderlogo {
        margin-left: 100px;
        border-radius: 10px;
    }
    .imglogo {
        width: 100%;
        height: 100%;
        border-radius: 10px;

    }
    .imgprofile {
        width:100%;
        height:30%;
        border-radius: 50%;
    }
    .teamprofile {
        margin-left: 100px;
        border-radius: 10px;
    }


}
