/**********************Mobile*******************/
@media screen and (max-width: 767px) {
    .desktop{
        display: none;
    }
    .About{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .fundingMobile {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .contactUs {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .productMobile {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .storyMobile {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }


}
/**********************Desktop*******************/
@media screen and (min-width: 767px) {
    .mobile{
        display: none;
    }

    .About{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .InvestmentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .contactUs {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .product {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .blank {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .story {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

}

