/* Desktop */
/*---------------------------------------*/

@media screen and (min-width: 767px) {
    .main-container {
        padding: 10px 90px 80px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*!* HEADING *!*/
    .heading {
        text-align: center;
        padding: 10px;
    }

    .heading__title {
        font-weight: 600;
    }

    .heading__credits {
        margin: 10px 0px;
        color: #888888;
        font-size: 25px;
        transition: all 0.5s;
    }

    .heading__link {
        text-decoration: none;
    }

    .heading__credits .heading__link {
        color: inherit;
    }

    .card__icon {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
    }

    .card__link::after {
        position: absolute;
        top: 25px;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
    }

    .card__link:hover::after {
        width: 100%;
    }


    .card__icon {
        grid-row: 2/3;
        font-size: 30px;
    }

    .card__title {
        grid-row: 3/4;
        font-weight: 400;
        color: #ffffff;
    }

    .card__apply {
        grid-row: 4/5;
        align-self: center;
    }


    /* Hover over a card to flip, can tab too. */
    @import url('https://fonts.googleapis.com/css?family=Lato');

    /* default */
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* .flip-card-container */
    .flip-card-container {
        padding: 20px;
        width: 400px;
        height: 350px;
        margin: 20px;
        /*display: grid;*/
        /*grid-template-rows: 20px 50px 1fr 50px;*/
        perspective: 1000px;
    }

    /* .flip-card */
    .flip-card {
        width: inherit;
        height: inherit;
        /*display: grid;*/
        /*grid-template-rows: 20px 50px 1fr 50px;*/
        transform-style: preserve-3d;
        transition: .6s .1s;
    }

    /* hover and focus-within states */
    .flip-card-container:hover .flip-card,
    .flip-card-container:focus-within .flip-card {
        transform: rotateY(180deg);
    }

    /* .card-... */
    .card-front,
    .card-back {
        width: 100%;
        height: 100%;
        border-radius: 24px;

        background: var(--dark);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        backface-visibility: hidden;

        /*display: flex;*/
        justify-content: center;
        align-items: center;
    }

    /* .card-front */
    .card-front {
        margin: 20px;
        padding: 20px;
        transform: rotateY(0deg);
        z-index: 2;
        display: grid;
        grid-template-rows: 20px 50px 1fr 50px;
        position: relative;
    }

    /* .card-back */
    .card-back {
        transform: rotateY(180deg);
        z-index: 1;
    }

    /* button */
    .applybutton {
        font-family: inherit;
        font-weight: bold;
        margin-right: 15px;
        letter-spacing: 2px;
        float: right;
        padding: 9px 20px;
        border: 1px solid black;
        border-radius: 100px;
        transition: .3s;
        background-color: Transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    button a {
        color: black;
    }

    button:hover,
    button:focus {
        color: var(--primary);
        background: hsla(var(--hue), 25%, 10%, .2);
        border-color: currentColor;
    }

    button:active {
        transform: translate(2px);
    }


    /* states */
    button:hover + .design-container,
    button:active + .design-container,
    button:focus + .design-container {
        --tr: 20;
        --op: .7;
    }

    .back-text {
        padding: 5px 20px 5px 25px;
        color: #ffffff;
    }

    .back-title {
        padding-left: 20px;
        color: #FFFFFF;
    }

    .wrapper {
        display: inline-flex;
        background: transparent;
        height: 75px;
        width: 300px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        padding: 5px 5px;
        /*box-shadow: 5px 5px 30px rgba(0,0,0,0.2);*/
    }

    .wrapper .option {
        background: #fff;
        height: 70%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 5px;
        border: 2px solid lightgrey;
        transition: all 0.3s ease;
    }

    .wrapper .option .dot {
        height: 20px;
        width: 20px;
        background: #d9d9d9;
        border-radius: 50%;
        position: relative;
    }

    .wrapper .option .dot::before {
        position: absolute;
        content: "";
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: #0069d9;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.3s ease;
    }

    input[type="radio"] {
        display: none;
    }

    #option-1:checked:checked ~ .option-1,
    #option-2:checked:checked ~ .option-2,
    #option-3:checked:checked ~ .option-3,
    #option-4:checked:checked ~ .option-4 {
        border-color: #0069d9;
        background: #0069d9;
    }

    #option-1:checked:checked ~ .option-1 .dot,
    #option-2:checked:checked ~ .option-2 .dot,
    #option-3:checked:checked ~ .option-3 .dot,
    #option-4:checked:checked ~ .option-4 .dot {
        background: #fff;
    }

    #option-1:checked:checked ~ .option-1 .dot::before,
    #option-2:checked:checked ~ .option-2 .dot::before,
    #option-3:checked:checked ~ .option-3 .dot::before,
    #option-4:checked:checked ~ .option-4 .dot::before {
        opacity: 1;
        transform: scale(1);
    }

    .wrapper .option span {
        font-size: 10px;
        color: #808080;
    }

    #option-1:checked:checked ~ .option-1 span,
    #option-2:checked:checked ~ .option-2 span,
    #option-3:checked:checked ~ .option-3 span,
    #option-4:checked:checked ~ .option-4 span {
        color: #fff;
    }

    .modal {
        border-radius: 24px 10px 10px 24px;
        background: rgba(250, 250, 244, 0.95);
    }

    /* width */
    .modal::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .modal::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    .modal::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 10px;
    }

    /* Handle on hover */
    .modal::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    #categoryMobile{
        display:none;
    }
    a{
        color: #FFFFFF;
    }
}
/*----------------------------------------*/
/*Mobile Side CSS*/
/*----------------------------------------*/


@media screen and (max-width: 767px) {
    #categoryDesktop{
        display: none;
    }
    .main-container {
        padding: 5px 45px 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*!* HEADING *!*/
    .heading {
        text-align: center;
        padding: 5px;
    }

    .heading__title {
        font-weight: 600;
    }

    .heading__credits {
        margin: 5px 0px;
        color: #888888;
        font-size: 25px;
        transition: all 0.5s;
    }

    .heading__link {
        text-decoration: none;
    }

    .heading__credits .heading__link {
        color: inherit;
    }

    .card__icon {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
    }

    .card__link::after {
        position: absolute;
        top: 25px;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
    }

    .card__link:hover::after {
        width: 100%;
    }


    .card__icon {
        grid-row: 2/3;
        font-size: 30px;
    }

    .card__title {
        grid-row: 3/4;
        font-weight: 400;
        color: #ffffff;
    }

    .card__apply {
        grid-row: 4/5;
        align-self: center;
    }


    /* Hover over a card to flip, can tab too. */
    @import url('https://fonts.googleapis.com/css?family=Lato');

    /* default */
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* .flip-card-container */
    .flip-card-container {
        padding: 10px;
        width: 300px;
        height: 190px;
        margin: 10px;
        perspective: 500px;
    }

    /* .flip-card */
    .flip-card {
        width: inherit;
        height: inherit;
        transform-style: preserve-3d;
        transition: .6s .1s;
    }

    /* hover and focus-within states */
    .flip-card-container:hover .flip-card,
    .flip-card-container:focus-within .flip-card {
        transform: rotateY(180deg);
    }

    /* .card-... */
    .card-front,
    .card-back {
        width: 100%;
        height: 100%;
        border-radius: 24px;

        background: var(--dark);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        backface-visibility: hidden;

        /*display: flex;*/
        justify-content: center;
        align-items: center;
    }

    /* .card-front */
    .card-front {
        margin: 10px;
        padding: 10px;
        transform: rotateY(0deg);
        z-index: 2;
        display: grid;
        grid-template-rows: 10px 25px 1fr 25px;
        position: relative;
    }

    /* .card-back */
    .card-back {
        transform: rotateY(180deg);
        z-index: 1;
    }


    /* button */
    .applybutton {
        font-family: inherit;
        font-weight: bold;
        margin-right: 15px;
        letter-spacing: 1px;
        float: right;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 100px;
        transition: .3s;
        background-color: Transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    button a {
        color: black;
    }

    button:hover,
    button:focus {
        color: var(--primary);
        background: hsla(var(--hue), 25%, 10%, .2);
        border-color: currentColor;
    }

    button:active {
        transform: translate(2px);
    }


    /* states */
    button:hover + .design-container,
    button:active + .design-container,
    button:focus + .design-container {
        --tr: 20;
        --op: .7;
    }

    .back-text {
        padding: 5px 20px 5px 25px;
        color: #ffffff;
        font-size: 13px;
    }

    .back-title {
        padding-left: 20px;
        color: #FFFFFF;
    }

    .wrapper {
        display: inline-flex;
        background: transparent;
        height: 50px;
        width: 200px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        padding: 5px 5px;
        /*box-shadow: 5px 5px 30px rgba(0,0,0,0.2);*/
    }

    .wrapper .option {
        background: #fff;
        height: 70%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 5px;
        border: 2px solid lightgrey;
        transition: all 0.3s ease;
    }

    .wrapper .option .dot {
        height: 20px;
        width: 20px;
        background: #d9d9d9;
        border-radius: 50%;
        position: relative;
    }

    .wrapper .option .dot::before {
        position: absolute;
        content: "";
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: #0069d9;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.3s ease;
    }

    input[type="radio"] {
        display: none;
    }

    #option-01:checked:checked ~ .option-01,
    #option-02:checked:checked ~ .option-02,
    #option-03:checked:checked ~ .option-03,
    #option-04:checked:checked ~ .option-04 {
        border-color: #0069d9;
        background: #0069d9;
    }

    #option-01:checked:checked ~ .option-01 .dot,
    #option-02:checked:checked ~ .option-02 .dot,
    #option-03:checked:checked ~ .option-03 .dot,
    #option-04:checked:checked ~ .option-04 .dot {
        background: #fff;
    }

    #option-01:checked:checked ~ .option-01 .dot::before,
    #option-02:checked:checked ~ .option-02 .dot::before,
    #option-03:checked:checked ~ .option-03 .dot::before,
    #option-04:checked:checked ~ .option-04 .dot::before {
        opacity: 1;
        transform: scale(1);
    }

    .wrapper .option span {
        font-size: 10px;
        color: #808080;
    }

    #option-01:checked:checked ~ .option-01 span,
    #option-02:checked:checked ~ .option-02 span,
    #option-03:checked:checked ~ .option-03 span,
    #option-04:checked:checked ~ .option-04 span {
        color: #fff;
    }

    .modal {
        border-radius: 24px 10px 10px 24px;
        background: rgba(250, 250, 244, 0.95);
    }

    /* width */
    .modal::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .modal::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    .modal::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 10px;
    }

    /* Handle on hover */
    .modal::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .alignment1{
        margin-left: 10px;
    }
    .alignment2{
        margin-left: -70px;
    }
    a{
        color: #FFFFFF;
    }
}

