@media screen and (max-width: 767px) {
    #applicantDashboardDesktop{
        display:none;
    }

}

@media screen and (min-width: 767px) {
    #applicantDashboardMobile{
        display:none;
    }
}
