@media only screen and (max-width: 600px) {
    #mobileLog {
        display: block;
    }
    #desktopLog {
        display: none;
    }
}
#mobileLog {
    display: none;
}

#desktopLog {
    display: block;
}
