/**********************Mobile*******************/
@media screen and (max-width: 767px) {
    .blogDesktop{
        display: none;
    }


}
/**********************Desktop*******************/
@media screen and (min-width: 767px) {

    .blogMobile{
        display: none;
    }

}
