/**********************Mobile*******************/
@media screen and (max-width: 767px) {
    #desktopShowBlog{
        display: none;
    }
}
/**********************Desktop*******************/
@media screen and (min-width: 767px) {
    #mobileShowBlog{
        display: none;
    }
}
