@media screen and (max-width: 767px) {
    #DesktopBasicInfoBootcamp{
        display:none;
    }

}

@media screen and (min-width: 767px) {
    #MobileBasicInfoBootcamp{
        display:none;
    }
}
