﻿/*Mobile*/
@media screen and (max-width: 767px) {
    .iot-header{
        font-size: 4rem;
        font-family:Arial;
        margin-top:-13vh;
        padding-left:70%;
        text-shadow: 5px 3px 1px #000000;
    }
    #iotDesktop{
        display: none;
    }
    .comm-header{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-13vh;
        padding-left:10%;
        text-shadow: 5px 3px 1px #000000;

    }
    #CommSectionDesktop{
        display: none;
    }
    .GrantsBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .LoanBlock{
        background:rgba(0, 47, 95, 1) ;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .HybridBlock{
        background:  #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    #EnterpriseSectionDesktop{
        display:none;
    }
    .enterprise-header2{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-13vh;
        padding-left:16%;
        color: white;
        text-shadow: 5px 3px 1px #000000;
    }
    .partner-section-headers{
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:22%;
    }
    .partner-section-header2{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:15%;
    }
    .TalkBlock2{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .partners-section-header3{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:18%;
    }
    .partner-section-header4{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:30%;
    }
    .partner-section-header5{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:36%;
    }
    .partner-section-header6{
        font-size: 2rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:62%;
    }


    .yourNeedBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .BenefitBlock{
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .IBlock{
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .InvestBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .INNOVBlock{
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .SuppChainBlock{
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .SkillsBlock{
        background:  rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .JobBlock{
        background:rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .ClientBlock{
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .FundingBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    #CormecializeImage{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }


    #PartnerTopSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #PartnerTopSectionImage {
        width: 250%;
        height: 50%;
        -webkit-filter: grayscale(100%);
    }

    #PartnerSecondSectionDesktop {
        display: none;

    }

    .MaximiseBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .InvestmentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .IPBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ProjectsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .TalkBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .EmptyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .BBBEBlock{
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .ProjectsBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    #PartnerThirdSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #PartnerThirdSectionImage {
        width: 150%;
        height: 50%;
        object-fit: contain;
        object-position: bottom;
    }
    #EnterpriceImage{
        width:100%;
        height:50%;
        object-fit: contain;
        object-position: bottom;
    }

    #iotSectionImage{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    #PartnerFourthSectionDesktop{
        display: none;
    }

    #PartnerFifthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #PartnerFifthSectionImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    #PartnerFifthSectionDesktop{
        display: none;
    }

    #PartnerSixthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #PartnerSixthSectionImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    #PartnerSixthSectionDesktop {
        display: none;
    }

    #PartnerSeventhSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #PartnerSeventhSectionImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    #PartnerSeventhSectionDesktop {
        display: none;
    }

    #PartnerEigthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }

    #PartnerEigthSectionImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    #PartnerEigthSectionDesktop {
        display: none;
    }
    #desktop {
        display: none;
    }
}

/*Desktop*/
@media screen and (min-width: 767px) {
    #iotMobile{
        display: none;
    }
    #CommSectionMobile{
        display: none;
    }
    #EnterpriseSectionMobile{
        display: none;
    }
    .iot-header{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:90%;
    }
    .comm-header{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:32%;
    }
    .enterprise-header2{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:16%;
    }
    .partner-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:62%;
    }
    .partner-section-header2{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:56%;
    }
    .partners-section-header3{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:62%;
    }
    .partner-section-header4{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:65%;
    }
    .partner-section-header5{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:68%;
    }
    .partner-section-header6{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:82%;
    }


   #PartnerTopSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #PartnerTopSectionImage {
        width: 150%;
        height: 120%;
        -webkit-filter: grayscale(100%);
    }

    #PartnerSecondSectionMobile{
        display: none;
    }
    .BBBEBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .TalkBlock2{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .MaximiseBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .GrantsBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .LoanBlock{
        background:rgba(0, 47, 95, 1) ;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .HybridBlock{
        background:  #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .yourNeedBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }


    .InvestmentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .InvestBlock{
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .IPBlock {
        background:#454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .ProjectsBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .TalkBlock {
        background:rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .ClientBlock{
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .INNOVBlock{
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }

    .EmptyBlock {
        background:#454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .BlockEmpty{
        background:#454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .developmentBlock{
        background:rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .JobBlock{
        background:rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .FundingBlock{
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .SuppChainBlock{
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .SkillsBlock{
        background:  rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .BenefitBlock{
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    .IBlock{
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
        cursor: pointer;
    }
    #EnterpriceThirdSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #EnterpriceThirdSection:hover{
        -webkit-filter: grayscale(0%);
        text-shadow: 5px 3px 1px #000000;
    }
    #EnterpriceImage{
        width: 90%;
        height: 140%;
    }

    #PartnerThirdSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #PartnerThirdSection:hover {
        -webkit-filter: grayscale(0%);
        text-shadow: 5px 3px 1px #000000;

    }

    #PartnerThirdSectionImage {
        width: 50%;
        height: 50%;
    }

    #PartnerFourthSectionMobile {
        display: none;
    }

   #PartnerFifthSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #PartnerFifthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerFifthSectionImage {
        width: 100%;
        height: 140%;
    }
    #PartnerFifthSectionMobile {
        display: none;
    }

   #PartnerSixthSection{
       color: white;
       -webkit-filter: grayscale(100%);
       text-shadow: 5px 3px 1px #000000;
   }

    #PartnerSixthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerSixthSectionImage {
        width: 100%;
        height: 100%;
    }

    #PartnerSixthSectionMobile {
        display: none;
    }
    #CommercializeSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #CommercializeSection:hover{
        -webkit-filter: grayscale(0%);
    }
    #CormecializeImage{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    #PartnerSeventhSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #PartnerSeventhSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerSeventhSectionImage {
        width: 80%;
        height: 150%;
    }

    #iotSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #iotSection:hover{
        -webkit-filter: grayscale(0%);
        text-shadow: 5px 3px 1px #000000;
    }

    #iotSectionImage{
        width: 90%;
        height: 140%;
    }

    #PartnerSeventhSectionMobile {
        display: none;
    }

    #PartnerEigthSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #PartnerEigthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerEigthSectionImage {
        width: 100%;
        height: 120%;
    }

    #PartnerEigthSectionMobile {
        display: none;
    }
    #mobile {
        display: none;
    }
}

/*(mdpi) Android*/
/*
@media only screen and (max-device-width:1280px){
    .partner-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:50%;
    }
    .partner-section-header2{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:46%;
    }
    .enterprise-header2{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:15%;
    }
    .partners-section-header3{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:52%;
    }
    .partner-section-header4{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:58%;
    }
    .iot-header{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:90%;
    }
    .comm-header{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:12%;
    }
    .partner-section-header5{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:60%;
    }
    .partner-section-header6{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:76%;
    }
}
*/



