@media screen and (max-width: 767px) {
    #PartnerTopSection {
        color: white;
    }

    #PartnerTopSectionImage {
        width: 400%;
        height: 150%;
        -webkit-filter: grayscale(100%);
    }

    #PartnerSecondSectionDesktop {
        display: none;
    }

    .MaximiseBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .InvestmentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .IPBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ProjectsBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }
    .TalkBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .EmptyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    #PartnerThirdSection {
        color: white;
    }

    #PartnerThirdSectionImage {
        width: 250%;
        height: 150%;
    }

    #PartnerFourthSectionDesktop{
        display: none;
    }

    #PartnerFifthSection {
        color: white;
    }

    #PartnerFifthSectionImage {
        width: 250%;
        height: 150%;
    }

    #PartnerFifthSectionDesktop{
        display: none;
    }

    #PartnerSixthSection {
        color: white;
    }

    #PartnerSixthSectionImage {
        width: 250%;
        height: 150%;
    }

    #PartnerSixthSectionDesktop {
        display: none;
    }

    #PartnerSeventhSection {
        color: white;
    }

    #PartnerSeventhSectionImage {
        width: 250%;
        height: 150%;
    }

    #PartnerSeventhSectionDesktop {
        display: none;
    }

    #PartnerEigthSection {
        color: white;
    }

    #PartnerEigthSectionImage {
        width: 250%;
        height: 150%;
    }

    #PartnerEigthSectionDesktop {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    #PartnerTopSection {
        color: white;
    }

    #PartnerTopSectionImage {
        width: 100%;
        height: 120%;
        -webkit-filter: grayscale(100%);
    }

    #PartnerSecondSectionMobile{
        display: none;
    }

    .MaximiseBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .InvestmentBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .IPBlock {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .ProjectsBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .TalkBlock {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    .EmptyBlock {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        border-color: white;
    }

    #PartnerThirdSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #PartnerThirdSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerThirdSectionImage {
        width: 100%;
        height: 120%;
    }

    #PartnerFourthSectionMobile {
        display: none;
    }

    #PartnerFifthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #PartnerFifthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerFifthSectionImage {
        width: 100%;
        height: 120%;
    }

    #PartnerFifthSectionMobile {
        display: none;
    }

    #PartnerSixthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #PartnerSixthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerSixthSectionImage {
        width: 100%;
        height: 120%;
    }

    #PartnerSixthSectionMobile {
        display: none;
    }

    #PartnerSeventhSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #PartnerSeventhSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerSeventhSectionImage {
        width: 100%;
        height: 120%;
    }

    #PartnerSeventhSectionMobile {
        display: none;
    }

    #PartnerEigthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }

    #PartnerEigthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerEigthSectionImage {
        width: 100%;
        height: 120%;
    }

    #PartnerEigthSectionMobile {
        display: none;
    }
}



