
/**********************Desktop*******************/
@media screen and (min-width: 1281px) {

    #MobileKutu{
        display: none;
    }
    .mobileHome{
        display: none;
    }


    body{
        margin:0;
        padding:0;
    }
    /*container for img tag*/
    .containerr{
        margin-top: -15vh;
        /*position: relative;*/
        /*width: 100px;*/
        max-width: 300px;
        height: 300px;
        text-align: center;
        z-index: 100;

    }
    .containerr img {
        margin-top: 15vh;
        width: 900px;
        height: 60vh;
        text-align: center;
        border-radius: 20px;
        border: solid 8px #999999;
    }
    /*button embedded in img*/
    .containerr .btnn{
        margin-top: 30vh;
        position: absolute;
        top: 60%;
        left: 150%;
        transform: translate(-50%, -50%);
        background-color: #b98f42c4;
        color: white;
        font-size: 14px;
        padding: 14px 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
    .containerr .btnn:hover{
        background-color: #186532c4;
        color: white;
    }

    /*.kutu{*/

    /*    background-color:#fff;*/
    /*    !*width:400px;*!*/
    /*    height:500px;*/
    /*    position:relative;*/
    /*    z-index:100;*/
    /*    -moz-border-radius:20px;*/
    /*    -webkit-border-radius:20px;*/
    /*    !*border-radius:20px;*!*/
    /*    !*border:solid 8px #999999;*!*/
    /*    display:none;*/
    /*}*/

    .popup{

        background-color:#fff;
        z-index:100;
        /*-moz-border-radius:20px;*/
        -webkit-border-radius:20px;
        text-align: center;
        height: 40vh;
        margin-top: 15vh;
        display: block;
        position: absolute;
        top: 119px;
        margin-left: 24%;
        /*left: 500px;*/
    }

    .kutu p{
        font-size:16px;
        margin:5px 5px 5px;
        color:#000;
        text-align:center;
        position:absolute;
    }
    .kapla {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 98;
        display: block;
        opacity:0.8;
    }
    .baslik {
        color:#FFF;
        padding:10px;
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight:bold;

    }
    .kapat {
        float:right;
        position:absolute;
        right:0px;
        margin-top:-35px;
        cursor:pointer;
    }

    .testimonial .pic{
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 25px;
        border: 4px solid dimgrey;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .testimonial .pic img{
        width: 100%;
        height: auto;
    }
    .testimonial .description{
        padding: 0 20px 20px;
        font-size: 15px;
        color: #333;
        line-height: 30px;
        border-radius: 25px;
        border-bottom: 4px solid dimgrey;
        margin-bottom: 25px;
    }
    .testimonial .title{
        display: block;
        margin: 0 0 7px 0;
        font-size: 20px;
        font-weight: 600;
        color: black;
        letter-spacing: 1px;
    }
    .testimonial .post{
        display: block;
        font-size: 15px;
        color: dimgrey;
        text-transform: capitalize;
    }
    .owl-theme .owl-controls{ margin-top: 0; }
    .owl-theme .owl-controls .owl-page span{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #6b2014;
        opacity: 0.8;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
        transition: all 0.3s ease 0s;
    }
    .owl-theme .owl-controls .owl-page.active span{ background: #e4ac01; }
    @media only screen and (max-width: 479px){
        .testimonial{ padding: 20px 15px 40px; }
        .testimonial .description{ padding: 0 5px 20px; }
    }


    #homeTablet {
        visibility: hidden;
    }
    #testimonialMobile {
        display: none;
    }

#homeTablet {
    visibility: hidden;
}
#testimonialMobile {
    display: none;
}

#mobileLog {
    display: none;
}
#desktopLog {
    display: block;
}
/* Innovators */
.Innovators {
    background: url('/images/HomeTabs/AfricanLady.jpg');
    background-size: cover;
    background-position: top;
    height: 88vh;
    position: relative;
    cursor: pointer;
}

.Innovators:hover {
    -webkit-filter: grayscale(0%);
}

#InnovateTxt {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: x-large;
    position: absolute;
    right: 75px;
    bottom: 45px;
    cursor: pointer;
    top: 75vh;
}

#InnovateTxt2 {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: medium;
    position: absolute;
    right: 70px;
    bottom: 30px;
    cursor: pointer;
    top: 80vh;
}

/* Partners */
.Partner {
    background: url('/images/HomeTabs/Locks.jpg');
    background-size: cover;
    background-position: top;
    height: 88vh;
    position: relative;
    cursor: pointer;
}

.Partner:hover {
    -webkit-filter: grayscale(0%);
}

#PartnerTxt {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: x-large;
    position: absolute;
    right: 50px;
    bottom: 45px;
    cursor: pointer;
    top: 75vh;
}

#PartnerTxt2 {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: medium;
    position: absolute;
    right: 56px;
    bottom: 30px;
    cursor: pointer;
    top: 80vh;

}

/* FutureMakers */
.FutureMakers {
    background: url('/images/HomeTabs/JoyLady.jpg');
    background-size: cover;
    background-position: top;
    height: 88vh;
    position: relative;
    cursor: pointer;
}

.FutureMakers:hover {
    -webkit-filter: grayscale(0%);
}


#FutureMakersTxt {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: x-large;
    position: absolute;
    right: 70px;
    bottom: 45px;
    cursor: pointer;
    top: 75vh;
}

#FutureMakersTxt2 {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: medium;
    position: absolute;
    right: 9px;
    bottom: 30px;
    cursor: pointer;
    top: 80vh;
}

/* Industrial */
.Industrial {
    background: url('/images/HomeTabs/MrMan.jpg');
    background-size: cover;
    background-position: top;
    height: 88vh;
    position: relative;
    cursor: pointer;
}

.Industrial:hover {
    -webkit-filter: grayscale(0%);
}

#IndustrialTxt {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: x-large;
    position: absolute;
    right: 40px;
    bottom: 30px;
    cursor: pointer;
    top: 75vh;
}

#IndustrialTxt2 {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: medium;
    position: absolute;
    right: 60px;
    bottom: 30px;
    cursor: pointer;
    top: 80vh;
}

/* SmartCity */
.SmartCity {
    background: url('/images/HomeTabs/Blueman.jpg');
    background-size: cover;
    background-position: top;
    height: 88vh;
    position: relative;
    cursor: pointer;
}

.SmartCity:hover {
    -webkit-filter: grayscale(0%);
}

#SmartCityTxt {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: x-large;
    position: absolute;
    bottom: 45px;
    cursor: pointer;
    top: 75vh;
}

#SmartCityTxt2 {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: medium;
    position: absolute;
    right: 83px;
    bottom: 30px;
    cursor: pointer;
    top: 80vh;
    text-align: center;
}

/* Apply */
.Apply {
    background: url('/images/HomeTabs/YellowLady.jpg');
    background-position: center;
    background-size: cover;
    height: 88vh;
    position: relative;
    cursor: pointer;
}

.Apply:hover {
    -webkit-filter: grayscale(0%);
}

#ApplyTxt {
    text-decoration-style: solid;
    color: #ffffff;
    font-size: x-large;
    position: absolute;
    right: 100px;
    bottom: 75px;
    cursor: pointer;
    top: 75vh;
}

    /* Innovators */
    .Innovators {
        background: url('/images/HomeTabs/AfricanLady.jpg');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;

        cursor: pointer;
    }

    .Innovators:hover {
        -webkit-filter: grayscale(0%);
    }

    #InnovateTxt {
        text-decoration-style: solid;
        color: #FFFFff;
        font-size: x-large;
        position: absolute;
        right: 75px;
        bottom: 45px;
        cursor: pointer;
        top: 75vh;
    }

    #InnovateTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 70px;
        bottom: 30px;
        cursor: pointer;
        top: 80vh;
    }

    /* Partners */
    .Partner {
        background: url('/images/HomeTabs/Locks.jpg');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;
        cursor: pointer;
    }

    .Partner:hover {
        -webkit-filter: grayscale(0%);
    }

    #PartnerTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: x-large;
        position: absolute;
        right: 50px;
        bottom: 45px;
        cursor: pointer;
        top: 75vh;
    }

    #PartnerTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 56px;
        bottom: 30px;
        cursor: pointer;
        top: 80vh;

    }

    /* FutureMakers */
    .FutureMakers {
        background: url('/images/HomeTabs/JoyLady.jpg');
        background-size: cover;
        backgound-position: top;
        height: 88vh;
        position: relative;
        cursor: pointer;
    }

    .FutureMakers:hover {
        -webkit-filter: grayscale(0%);
    }


    #FutureMakersTxt {

        text-decoration-style: solid;
        color: #ffffff;
        font-size: x-large;
        position: absolute;
        right: 60px;
        bottom: 45px;
        cursor: pointer;
        top: 75vh;
    }

    #FutureMakersTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 60px;
        bottom: 30px;
        cursor: pointer;
        top: 80vh;
    }

    /* Industrial */
    .Industrial {
        background: url('/images/HomeTabs/MrMan.jpg');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;
        cursor: pointer;
    }

    .Industrial:hover {
        -webkit-filter: grayscale(0%);
    }

    #IndustrialTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: x-large;
        position: absolute;
        right: 35px;
        bottom: 30px;
        cursor: pointer;
        top: 75vh;
    }

    #IndustrialTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 60px;
        bottom: 30px;
        cursor: pointer;
        top: 80vh;
    }

    /* SmartCity */
    .SmartCity {
        background: url('/images/HomeTabs/Blueman.jpg');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;
        cursor: pointer;
    }

    .SmartCity:hover {
        -webkit-filter: grayscale(0%);
    }

    #SmartCityTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: x-large;
        position: absolute;
        right: 78px;
        bottom: 45px;
        cursor: pointer;
        top: 75vh;
    }

    #SmartCityTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 60px;
        bottom: 30px;
        cursor: pointer;
        top: 80vh;
    }

    /* Apply */
    .Apply {
        background: url('/images/HomeTabs/YellowLady.jpg');
        background-position: center;
        background-size: cover;
        height: 88vh;
        position: relative;
        cursor: pointer;
    }

    .Apply:hover {
        -webkit-filter: grayscale(0%);
    }

    #ApplyTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: x-large;
        position: absolute;
        right: 100px;
        bottom: 75px;
        cursor: pointer;
        top: 75vh;
    }

    #ApplyTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 50px;
        bottom: 30px;
        cursor: pointer;
        top: 80vh;
    }

    /*(mdpi) Android*/
    /*@media only screen and (max-device-width:1280px){
        #homeDesktop{
            display: none;
        }
        #InnovateTxt {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 90px;
            bottom: 45px;
            cursor: pointer;
            top:75vh;
        }

        #InnovateTxt2 {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 70px;
            bottom: 30px;
            cursor: pointer;
            top:80vh;
        }
        #PartnerTxt {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 50px;
            bottom: 45px;
            cursor: pointer;
            top:75vh;
        }

        #PartnerTxt2 {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 36px;
            bottom: 30px;
            cursor: pointer;
            top:80vh;
        }
        #FutureMakersTxt {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 70px;
            bottom: 45px;
            cursor: pointer;
            top:75vh;
        }

        #FutureMakersTxt2 {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 9px;
            bottom: 30px;
            cursor: pointer;
            top:80vh;
        }
        #IndustrialTxt {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 45px;
            bottom: 30px;
            cursor: pointer;
            top:75vh;
        }

        #IndustrialTxt2 {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 48px;
            bottom: 30px;
            cursor: pointer;
            top:80vh;
        }
        #SmartCityTxt {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 78px;
            bottom: 45px;
            cursor: pointer;
            top:75vh;
        }

        #SmartCityTxt2 {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 63px;
            bottom: 30px;
            cursor: pointer;
            top:80vh;
        }
        #ApplyTxt {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 100px;
            bottom: 75px;
            cursor: pointer;
            top:75vh;
        }

        #ApplyTxt2 {
            text-decoration-style: solid;
            color: #ffffff;
            font-size: medium;
            position: absolute;
            right: 40px;
            bottom: 30px;
            cursor: pointer;
            top:80vh;
        }
    }*/
}


/**********************Mobile********************/
@media screen and (max-width: 767px) {

    #desktopKutu{
        display: none;
    }
    .desktop{
        display: none;
    }
    #covid{
        display: none;
    }

    body{
        margin:0;
        padding:0;
    }

    /*container for img tag*/
    .containerr{
        margin-top: -15vh;
        position: relative;
        width: 98%;
        /*max-width: 500px;*/
        /*text-align: center;*/
        z-index: 100;

    }
    .containerr img{
        margin-top: 15vh;
        position: relative;
        width: 98%;
        text-align: center;
        border-radius:20px;
        border:solid 8px #999999;
    }
    /*button embedded in img*/
    .containerr .btnn{
        margin-top: 5vh;
        position: absolute;
        top: 70%;
        left: 71%;
        transform: translate(-50%, -50%);
        background-color: #186532c4;
        color: white;
        font-size: 13px;
        padding: 10px 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
    .containerr .btnn:hover{
        background-color: #186532c4;
        color: black;
    }

    .popup{

        background-color:#fff;
        z-index:100;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        text-align: center;
        margin-top: 25vh;
        display: block;
        position: absolute;
        top: 119px;
        margin-right: 3vh;
    }
    .popupTest{
        width: 94%;
        z-index:100;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        margin-top: 25vh;
        display: block;
        position: absolute;
        top: 119px;
        margin-right: 3vh;
    }

    .kutu p{
        font-size:16px;
        margin:5px 5px 5px;
        color:#000;
        text-align:center;
        position:absolute;
    }
    .kapla {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 98;
        display: block;
        opacity:0.8;
    }
    .baslik {
        color:#FFF;
        padding:10px;
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight:bold;

    }
    .kapat {
        float:right;
        position:absolute;
        right:0px;
        margin-top:-35px;
        cursor:pointer;
    }


    #desktopLog {
        display: none;
    }
    #mobileLog {
       display: block;
       }
    #mobileHome {
        visibility: visible;

    }
    #myCarousel {
        visibility: visible;
        height: 80vh;
        top: -60px;

    }

    #Tags {
        display: none;
    }
    /* Innovators */
    .Innovators {
        background: url('/images/HomeTabs/AfricanLady.jpg');
        filter: brightness(0.4);
        background-size: cover;
        background-position: center;
        height: 200vh;
        position: relative;

    }

    #InnovateTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: X-large;
        position: absolute;
        right: 90px;
        top: 130px;
        cursor: pointer;
        margin-top:40vh;
        font-size: 1rem;
        left: 100px;
        text-align: center;
        font-size: 2em;
    }

    #InnovateTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 25%;
        top: 150px;
        cursor: pointer;
        margin-top:45vh;
        font-size: 1rem;
        left: 90px;
        text-align: center;

    }
    /* Partners */
    .Partner {
        background: url('/images/HomeTabs/Locks.jpg');
        background-size: cover;
        background-position: center;
        height: 80vh;
        position: relative;
        width:50vh;
    }

    #PartnerTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: X-large;
        position: absolute;
        right: 40px;
        top: 130px;
        cursor: pointer;
        margin-top:40vh;
        font-size: 1rem;
        left: 50px;
        text-align: center;
        font-size: 2em;
    }

    #PartnerTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 90px;
        top: 150px;
        cursor: pointer;
        margin-top:45vh;
        font-size: 1rem;

    }

    /* FutureMakers */
    .FutureMakers {
        background: url('/images/HomeTabs/JoyLady.jpg');
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    #FutureMakersTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: X-large;
        position: absolute;
        right: 60px;
        top: 130px;
        cursor: pointer;
        margin-top:40vh;
        font-size: 1rem;
        left: 70px;
        text-align: center;
        font-size: 2em;
    }

    #FutureMakersTxt2 {

        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 50px;
        top: 150px;
        cursor: pointer;
        margin-top:45vh;
        font-size: 1rem;

    }

    /* Industrial */
    .Industrial {
        background: url('/images/HomeTabs/MrMan.jpg');
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    #IndustrialTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: X-large;
        position: absolute;
        right: 50px;
        top: 130px;
        cursor: pointer;
        margin-top:40vh;
        font-size: 1rem;
        left: 40px;
        text-align: center;
        font-size: 2em;
    }

    #IndustrialTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 95px;
        top: 150px;
        cursor: pointer;
        margin-top:45vh;
        font-size: 1rem;
    }

    /* SmartCity */
    .SmartCity {
        background: url('/images/HomeTabs/Blueman.jpg');
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    #SmartCityTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: X-large;
        position: absolute;
        right: 90px;
        top: 130px;
        cursor: pointer;
        margin-top:40vh;
        font-size: 1rem;
        left: 100px;
        text-align: center;
        font-size: 2em;
    }

    #SmartCityTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 110px;
        top: 150px;
        cursor: pointer;
        margin-top:45vh;
        font-size: 1rem;
    }

    /* Apply */
    .Apply {
        background: url('/images/HomeTabs/YellowLady.jpg');
        background-position: center;
        background-size: cover;
        height: 88vh;
    }

    #ApplyTxt {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: X-large;
        position: absolute;
        right: 90px;
        top: 130px;
        cursor: pointer;
        margin-top:40vh;
        font-size: 1rem;
        left: 100px;
        text-align: center;
        font-size: 2em;

    }

    #ApplyTxt2 {
        text-decoration-style: solid;
        color: #ffffff;
        font-size: medium;
        position: absolute;
        right: 100px;
        top: 150px;
        cursor: pointer;
        margin-top:45vh;
        font-size: 1rem;
    }
}

.carousel {
    height: 100%;
}


