/**********************Mobile*******************/
@media screen and (max-width: 767px) {
    #desktopNews{
        display: none;
    }
}
/**********************Desktop*******************/
@media screen and (min-width: 767px) {
    #mobileNews{
        display: none;
    }
}
