body {
    
}
#programsImage {
    background: url('../../images/2.3 Programmes.jpg');
    background-position: center;
    background-size: cover;
    height: 900px;
    position: relative;
    -webkit-filter: grayscale(100%);
}


.programsLinkBtn {
    width: 200px;
    height: 200px; 
}

.programsbtn {
    width: 200px;
    height: 150px;
}
.programs-overlay {
    background: rgbA(128, 128, 128, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#ProgramsSection {
    background: rgbA(128, 128, 128, 0.6);
    background-position: center;
    background-size: cover;
}

#ProgramsHeader {
    font-size: 100px;
    font-family: Arial;
    color: white;
    background-size: cover;
    height: 100vh;
    padding-top: 350px;
    
}

#Zero {
    background-image: url('/images/stge0.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}
#One {
    background-image: url('/images/One.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}
#Two {
    background-image: url('/images/twotwo.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}
#Three {
    background-image: url('/images/Two.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}
#Program1 {
    margin-top: 50px;
    font-size: 37px;
    font-family: DINPro;
    color: rgba(0, 47, 95, 1);
}
.ProgramP1 {
    color: rgba(0, 47, 95, 1);
    font-family: DINPro;
    font-size: 20px;
}

.RowMargins {
    margin-left: 8em;
    margin-right: 8em;
}



