body {
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 767px) {
    #visionTablet{
        display: none;
    }
    #DesktopWhatWeDo{
        display:none;
    }
    .about-section-headers{
        font-size: 1.5rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:20%;

    }
    .about-section-header2{
        font-size: 1.5rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:54%;
    }
    .about-section-header3{
        font-size: 1.5rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:56%;
    }
    .about-section-header4{
        font-size: 1.5rem;
        font-family:Arial;
        margin-top:-9vh;
        padding-left:54%;
    }


    #visionDesktop {
        display: none;
    }
    #desktop {
        display: none;
    }
    .propellaInfo{
        display:none;
    }
    .ourShareholders {
        display: none;
    }
    .managementInfo {
        display: none;
    }
    #propInfoDesktop {
        display: none;
    }
    #ourPeopleDesktop {
        display: none;
    }
    .partnersDesktop {
        display: none;
    }
    #aboutTopSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #topImage {
        width: 170%;
        height: 70%;
        /*-webkit-filter: grayscale(100%);*/
    }
    #aboutSecondSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;
    }
    #secondImage {
        /*-webkit-filter: grayscale(100%);*/
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }
    .whatWeDo {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;

    }
    .ourPeople {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .ourPartners {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .partnering {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .whoWeIncubate {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .participate {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .propella {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .infra {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .preIncubation {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .accelerate {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .nothing {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .incubationService {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    #aboutThirdSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;
    }
    #thirdImage {
        /*-webkit-filter: grayscale(100%);*/
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }
    .BoardnGuestsBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .ManagementBtn {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .StaffBtn {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .MentorsBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    #aboutFourthSection {
        color: white;
        text-shadow: 5px 3px 1px #000000;

    }
    #fourthImage {
        /*-webkit-filter: grayscale(100%);*/
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }
    .shareholder {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .founding {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .funding {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .none {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    #aboutFifthSection {
        color: white;
    }
    #fifthImage {
        /*-webkit-filter: grayscale(100%);*/
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
    }
    .row{
        margin-bottom:0;
    }
    #anitaFirstImage {
        height: 350px;
        width:280px;
        background: border-box url('/images/New_Team_Images/Linda.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        line-height: 0px;
        color: transparent;
        font-size: 20px;
        font-family: Arial;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #grantSecondImage {
        height: 400px;
        width:280px;
        background: border-box url('/images/New_Team_Images/Grant.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: Arial;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #errolThirdImage {
        height: 600px;
        width:280px;
        background: border-box url('/images/New_Team_Images/Errol.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: Arial;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Nafeesa {
        height: 400px;
        width:280px;
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: Arial;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #maraFirstImage {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Mara.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #apheleleSecondImage {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Apelele.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #sinazoThirdImage {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Sinazo j.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #gwenFouthImage {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Gwen.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }




    #SinazoQ {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Sinazo q.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #Sino {
        height: 400px;
        width: 280px;
        background: border-box url('/images/Sinothando new.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #Unathi {
        height: 400px;
        background: border-box url('/images/Unathi new.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #Sikhona {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Sikhona.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Zenande {
        height: 400px;
        background: border-box url('/images/Zenande new.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Afikile {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Afikile.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Martins {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Siphosethu Martins.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Bonginkosi {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Bonginkosi Sityana.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Kris {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Kris Swartbooi.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #Sibusiso {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Sibussiso Hermaans.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Sokwakhana {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Sokwakhana Badi.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Asibabale {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Asibabale Ndwalaza.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Simbongile {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Simbongile Msila.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Ongezwa {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Ongezwa Ntliziyombi.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #Nelisa{
        height: 400px;
        background: border-box url('/images/New_Team_Images/Nelisa Tshayana.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #Sino {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Sinovuyo Mfengwana.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #darryFirstImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/DarrylSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #lindaSecondImage {
        height: 400px;
        background: border-box url('/images/New_Team_Images/Linda.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #janeThirdImage {
        height: 400px;
        background: border-box url('/images/Jane_Stevenson_588_-removebg-preview (1).png');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #wayneFourthImage {
        height: 400px;
        background: border-box url('/images/Wayne_Oosthuizen_2303_-removebg-preview.png');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #edFifthImage {
        height: 400px;
        background: border-box url('/images/Ed_Richardson___17__586_-removebg-preview.png');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #georgeSixthImage {
        height: 400px;
        background: border-box url('/images/George-Meiring_2304_-removebg-preview.png');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #carlSeventhImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/PTI Staff/CarlLiddle.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #marvinEighthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/PTI Staff/MarvinDraai.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #sanjivNinthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/PTI Staff/SanjivRanchod.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #nickMarriotImage {
        height: 400px;
        background: border-box url('/images/nick-removebg-preview.png');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrFirstImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrSecondImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrThirdImage {
        height: 400px;
        background: border-box url('/images/Celeste_Thomas-removebg-preview.pngG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #RicardoImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrFifthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrFifthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #StuartImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #boadrSixthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #PortiaImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #boadrSeventhImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #NqobileImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #boadrNinethImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/BarrySide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #BarryImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #EngeliLogo {
        background: url(/images/About/LOGOS/ENGELI.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;

    }

    #InnovoleLogo  {
        background: url(/images/About/LOGOS/INNOVOLVE.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #IDCLogo {
        background: url(/images/About/LOGOS/IDC.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #NMULogo {
        background: url('/images/About/LOGOS/NELDON MANDELA.jpg');
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #BCXLogo {
        background: url('/images/About/LOGOS/BCX WHITE.jpg');
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #IsuzuLogo {
        background: url(/images/About/CompanyLogos/ISUZU.png);
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #BASFLogo {
        background: url(/images/About/LOGOS/BASF.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #AlgoaFMLogo {
        background: url('/images/About/LOGOS/ALGOA FM.jpg');
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #BoomTownLogo{
        background: url('/images/About/LOGOS/nmu logo.jpg');
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #seda {
        background: url('/images/About/LOGOS/seda01.webp');
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

    #sefa {
        background: url('/images/About/LOGOS/sefa_new-removebg-preview.png');
        background-position: center;
        background-size: cover;
        height: 200px;
        width:280px;
    }

}




@media screen and (min-width: 767px) {
    #visionTablet{
        display:none;
    }
    .detailsStyle{
        text-transform:capitalize;

    }

    .about-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:58%;

    }
    .about-section-header2{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:76%;
    }
    .about-section-header3{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:78%;
    }
    .about-section-header4{
        font-size: 4rem;
        font-family:Arial;
        margin-top:55vh;
        padding-left:75%;
    }

    #myCarousel {
        height: 84vh;
    }



    #topImage {
        width: 100%;
        height: 200%;
        -webkit-filter: grayscale(100%);
    }
    #aboutTopSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;

    }

    #aboutSecondSection {
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;

    }
    #aboutSecondSection:hover {
        -webkit-filter: grayscale(0%);
        text-shadow: 5px 3px 1px #000000;

    }
    #aboutThirdSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #aboutFourthSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }
    #aboutFifthSection{
        color: white;
        -webkit-filter: grayscale(100%);
        text-shadow: 5px 3px 1px #000000;
    }

    #secondImage {
        width: 100%;
        height: 200%;
    }


    .whatWeDo {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ourPeople {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ourPartners {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .partnering {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .whoWeIncubate {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .participate {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .propella {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .infra {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .preIncubation {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .accelerate {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .nothing {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .incubationService {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    #aboutThirdSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }
    #aboutThirdSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #thirdImage {
        width: auto;
        height: auto;
    }

    .BoardnGuestsBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ManagementBtn {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .StaffBtn {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .MentorsBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    #aboutFourthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }
    #aboutFourthSection:hover{
        -webkit-filter: grayscale(0%);
    }

    #fourthImage {
        width: auto;
        height: 120%;
    }
    .shareholder {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .founding {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .funding {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .none {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    #aboutFifthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }
    #aboutFifthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #fifthImage {
        width: auto;
        height: 120%;
    }

    .row {
        margin-bottom: 0;
    }
    #visionMobile{
        display:none;
    }
    #mobile{
        display:none;
    }
    #mobile2{
        display:none;
    }
    .mobileWhatWeDo {
        display: none;
    }
    #ourPeopleMobile {
          display: none;
      }
    #partnersMobile {
        display: none;
    }


    #AnitaImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/anita.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        line-height: 0px;
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #AnitaImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #GrantImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/grant.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #GrantImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #ErrolImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/errol.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #ErrolImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #MaraImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/mara.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #MaraImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #ApheleleImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/ap.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #ApheleleImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #SinazoImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/sina.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #SinazoImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #GwenImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/gwen.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #GwenImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #DarylImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/darry.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #DarylImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #LindaImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/linda.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #LindaImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #JaneImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family:Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #JaneImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #IanImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #IanImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #AndrewImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/andrew.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #AndrewImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #JohanImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #JohanImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #WayneImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/wayne.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #WayneImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #RicardoImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/ricardo.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #RicardoImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #GregImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #GregImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #StuartImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #StuartImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #PortiaImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #PortiaImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #NqobileImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #NqobileImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #BarryImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/barry.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 12px;
        font-family: Arial;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #BarryImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #EngeliLogo {
        background: url(/images/About/LOGOS/engeli1.jpg);
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px;
    }

    #InnovoleLogo {
        background: url(/images/About/LOGOS/inno1.jpg);
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px
    }

    #IDCLogo {
        background: url('/images/About/LOGOS/IDC (1).jpg');
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px;
    }

    #NMULogo {
        background: url('/images/About/LOGOS/nmu.jpg');
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px;
    }

    #BCXLogo {
        background: url('/images/About/LOGOS/bcx.jpg');
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px;
    }

    #IsuzuLogo {
        background: url(/images/About/LOGOS/isuzu1.png);
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px
    }

    #BASFLogo {
        background: url(/images/About/LOGOS/basf1.jpg);
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px;
    }

    #AlgoaFMLogo {
        background: url('/images/About/LOGOS/algoa.jpg');
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px;

    }

    #BoomTownLogo {
        background: url('/images/About/LOGOS/nmu logo.jpg');
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px
    }
    #seda {
        background: url('/images/About/LOGOS/seda01.webp');
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px
    }

    #sefa {
        background: url('/images/About/LOGOS/sefa_new-removebg-preview.png');
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px
    }
    #solidworks {
        background: url('/images/About/LOGOS/solidworks0.webp');
        background-position: center;
        background-size: cover;
        height: 150px;
        width:200px
    }
}



/* (mdpi) Android*/
/*
@media only screen and (max-device-width:1280px){
    .about-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:48%;

    }
    .about-section-header2{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:70%;
    }
    .about-section-header3{
        font-size: 4rem;
        font-family:Arial;
        margin-top : 45vh;
        padding-left:72%;
    }
    .about-section-header4{
        font-size: 4rem;
        font-family:Arial;
        margin-top:45vh;
        padding-left:68%;
    }

}
*/



