body {
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 767px) {
    #visionDesktop {
        display: none;
    }
    .propellaInfo{
        display:none;
    }
    .ourShareholders {
        display: none;
    }
    .managementInfo {
        display: none;
    }
    #propInfoDesktop {
        display: none;
    }
    #ourPeopleDesktop {
        display: none;
    }
    .partnersDesktop {
        display: none;
    }
    #aboutTopSection {
        color: white;
    }
    #topImage {
        width: 400%;
        height: 150%;
        /*-webkit-filter: grayscale(100%);*/
    }
    #aboutSecondSection {
        color: white;
    }
    #secondImage {
        /*-webkit-filter: grayscale(100%);*/
        width: 250%;
        height: 150%;
    }
    .whatWeDo {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .ourPeople {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .ourPartners {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .partnering {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .whoWeIncubate {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .participate {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .propella {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .infra {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .preIncubation {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .accelerate {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .nothing {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .incubationService {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    #aboutThirdSection {
        color: white;
    }
    #thirdImage {
        /*-webkit-filter: grayscale(100%);*/
        width: 250%;
        height: 150%;
    }
    .BoardnGuestsBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .ManagementBtn {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .StaffBtn {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .MentorsBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    #aboutFourthSection {
        color: white;
    }
    #fourthImage {
        /*-webkit-filter: grayscale(100%);*/
        width: 250%;
        height: 150%;
    }
    .shareholder {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .founding {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .funding {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }
    .none {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }
    #aboutFifthSection {
        color: white;
    }
    #fifthImage {
        /*-webkit-filter: grayscale(100%);*/
        width: 250%;
        height: 150%;
    }
    .row{
        margin-bottom:0;
    }
    #anitaFirstImage {
        height: 400px;
        background: border-box url('../../images/profilepictures/propella staff/anitasidetest.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        line-height: 0px;
        color: transparent;
        font-size: 20px;
        font-family: Arial;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #grantSecondImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/GrantSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: Arial;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #errolThirdImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/ErrolSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: Arial;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #maraFirstImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/MaraSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #apheleleSecondImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/ApheleleSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #sinazoThirdImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/SinazoSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #gwenFouthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/GwenSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #darryFirstImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/DarrylSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #lindaSecondImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/LindaSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #janeThirdImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #ianFouthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrFirstImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrSecondImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrThirdImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/WayneSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #RicardoImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrFifthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #boadrFifthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #StuartImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #boadrSixthImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #PortiaImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #boadrSeventhImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #NqobileImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #boadrNinethImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/BarrySide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #BarryImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #engeliFirstImage {
        background: url(/images/About/LOGOS/ENGELI.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #innovolSecondImage {
        background: url(/images/About/LOGOS/INNOVOLVE.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #IDCSecondImage {
        background: url(/images/About/LOGOS/IDC.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #NMUSecondImage {
        background: url('/images/About/LOGOS/NELDON MANDELA.jpg');
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #BCXFirstImage {
        background: url('/images/About/LOGOS/BCX WHITE.jpg');
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #isuzuSecondImage {
        background: url(/images/About/CompanyLogos/ISUZU.png);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #BASFSecondImage {
        background: url(/images/About/LOGOS/BASF.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #ALGOASecondImage {
        background: url('/images/About/LOGOS/ALGOA FM.jpg');
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #BOOMSecondImage {
        background: url(/images/About/CompanyLogos/BoomTown.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }
}




@media screen and (min-width: 767px) {
    #myCarousel {
        height: 84vh;
    }

    #aboutTopSection {
        color: white;
    }

    #topImage {
        width: 100%;
        height: 120%;
        -webkit-filter: grayscale(100%);
    }

    #aboutSecondSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }
    #aboutSecondSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #secondImage {
        width: 100%;
        height: 120%;
    }


    .whatWeDo {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .ourPeople {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .ourPartners {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .partnering {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .whoWeIncubate {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .participate {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .propella {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .infra {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .preIncubation {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .accelerate {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .nothing {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .incubationService {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    #aboutThirdSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }
    #aboutThirdSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #thirdImage {
        width: 100%;
        height: 120%;
    }

    .BoardnGuestsBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .ManagementBtn {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .StaffBtn {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .MentorsBtn {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    #aboutFourthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }
    #aboutFourthSection:hover{
        -webkit-filter: grayscale(0%);
    }

    #fourthImage {
        width: 100%;
        height: 120%;
    }
    .shareholder {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .founding {
        background: rgba(0, 121, 52, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .funding {
        background: #454242;
        background-position: center;
        background-size: cover;
        border: solid;
    }

    .none {
        background: rgba(0, 47, 95, 1);
        background-position: center;
        background-size: cover;
        border: solid;
    }

    #aboutFifthSection {
        color: white;
        -webkit-filter: grayscale(100%);
    }
    #aboutFifthSection:hover {
        -webkit-filter: grayscale(0%);
    }

    #fifthImage {
        width: 100%;
        height: 120%;
    }

    .row {
        margin-bottom: 0;
    }
    #visionMobile{
        display:none;
    }
    .mobileWhatWeDo {
        display: none;
    }
    #ourPeopleMobile {
        display: none;
    }
    #partnersMobile {
        display: none;
    }

    #AnitaImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/AnitaSideTest.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        line-height: 0px;
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #AnitaImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #GrantImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/GrantSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #GrantImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #ErrolImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/ErrolSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #ErrolImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #MaraImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/MaraSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #MaraImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #ApheleleImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/ApheleleSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #ApheleleImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #SinazoImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/SinazoSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #SinazoImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #GwenImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/GwenSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #GwenImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #DarylImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/DarrylSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #DarylImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #LindaImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/LindaSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #LindaImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #JaneImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #JaneImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #IanImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #IanImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #AndrewImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #AndrewImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #JohanImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #JohanImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #WayneImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/WayneSide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #WayneImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #RicardoImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #RicardoImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #GregImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    #GregImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #StuartImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #StuartImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #PortiaImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #PortiaImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #NqobileImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/NoProfilePic.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #NqobileImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }

    #BarryImage {
        height: 400px;
        background: border-box url('/images/ProfilePictures/Propella Staff/BarrySide.JPG');
        background-position: center;
        background-size: cover;
        margin-top: 20px;
        -webkit-filter: grayscale(100%);
        color: transparent;
        font-size: 20px;
        font-family: DINPro;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    #BarryImage:hover {
        -webkit-filter: grayscale(0%);
        line-height: 20px;
        color: black;
    }
    #EngeliLogo {
        background: url(/images/About/LOGOS/ENGELI.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #InnovoleLogo {
        background: url(/images/About/LOGOS/INNOVOLVE.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #IDCLogo {
        background: url(/images/About/LOGOS/IDC.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #NMULogo {
        background: url('/images/About/LOGOS/NELDON MANDELA.jpg');
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #BCXLogo {
        background: url('/images/About/LOGOS/BCX WHITE.jpg');
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #IsuzuLogo {
        background: url(/images/About/CompanyLogos/ISUZU.png);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #BASFLogo {
        background: url(/images/About/LOGOS/BASF.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #AlgoaFMLogo {
        background: url('/images/About/LOGOS/ALGOA FM.jpg');
        background-position: center;
        background-size: cover;
        height: 250px;
    }

    #BoomTownLogo {
        background: url(/images/About/CompanyLogos/BoomTown.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
    }
}
