body {
}
@media screen and (max-width: 767px) {
    #topImageICT {
        width: 100%;
        height: 120%;
    }
    #ictTopSection {
        color: white;
    }

    #desktopProfile {
        display: none;
    }
    .card {
        border: 2px solid white;
        padding: 10px;
        border-radius: 25px;
    }
}
@media screen and (min-width: 767px) {
    #topImageICT {
        width: 100%;
        height: 150%;
    }

    #ictTopSection {
        color: white;
    }
    #mobileProfile {
        display: none;
    }
    .card {
        border: 2px solid white;
        padding: 10px;
        border-radius: 25px;
    }
}
