﻿body {
}
/*Mobile Screen CSS*/
@media screen and (max-width: 767px) {
    .industrial-header{
        font-size: 2rem;
        color:white;
        padding-left:34%;
        margin-top:70vh;
    }
    .ict-header{
        font-size: 2rem;
        color:white;
        padding-left:54%;
        margin-top:33vh;
    }
    #topImageICT {
        font-size: 2rem;
        width: 100%;
        height: 100%;
    }
    #ictTopSection {
        color: white;
        height: 40vh;
    }

    #desktopProfile {
        display: none;
    }
    .card {
        border: 2px solid white;
        border-radius: 15px;
    }

    .oswald-light {
        font-family: 'Oswald-Light', 'Oswald Light', 'Oswald';
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
    }
    .oswald {
        font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
        font-weight: 500;
        font-style: normal;
        font-size: 45px;
        line-height: 45px;
    }.oswaldbody {
         font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
         font-weight: 500;
         font-style: normal;
         font-size: 20px;
         margin-left: -15px;
         margin-top: -10px;
         margin-bottom: 10px;
     }
    .roboto {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: normal;
        font-size: 16px;
        color: dimgrey;
    }
    .robotobody {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: bold;
        font-size: 13px;
        color: black;
        margin-left: -20px;
        padding-right: 15px;
        padding-left: 5px;
    }
    .limit {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .logo {
        height: 120px;
        width: 334px;
        margin-left: -26px;
        margin-top: -30px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #VenturesDesktop {
        display: none;
    }
}

/*Desktop Screen CSS*/
@media screen and (min-width: 767px) {

    .ICT-section-headers{
        font-size: 4rem;
        font-family:Arial;
        margin-top:80vh;
        padding-left:58%;

    }
    .industrial-header{
        font-size: 4em;
        color:white;
        padding-left:66%;
        margin-top:50vh;
    }
    .ict-header{
        font-size: 4rem;
        color:white;
        padding-left:76%;
        margin-top:47vh;
    }

    #topImageICT {
        width: 100%;
        height: 150%;
    }

    #ictTopSection {
        color: white;
    }
    #mobileProfile {
        display: none;
    }
    .card {
        border: 2px solid white;
        border-top: none;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    .cardHeading {
        border: 1px solid white;
    }
    .card:hover {
        top: -10px;
    }
    .oswald-light {
        font-family: 'Oswald-Light', 'Oswald Light', 'Oswald';
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
    }
    .oswald {
        font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
        font-weight: 500;
        font-style: normal;
        font-size: 45px;
        line-height: 45px;
    }.oswaldbody {
         font-family: 'Oswald-Medium', 'Oswald Medium', 'Oswald';
         font-weight: 500;
         font-style: normal;
         font-size: 20px;
         margin-left: -15px;
         margin-top: -10px;
         margin-bottom: 10px;
     }
    .roboto {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: normal;
        font-size: 16px;
        color: dimgrey;
    }
    .robotobody {
        font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
        font-weight: bold;
        font-size: 13px;
        color: black;
        margin-left: -20px;
        padding-right: 15px;
        padding-left: 5px;
    }
    .limit {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .logo {
        height: 120px;
        width: 346px;
        margin-left: -35px;
        margin-top: -30px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .flexposition {
        display: flex;
        margin-top: 10px;
    }
    paragraph1 {
        border: 1px;
        border-style:solid;
        border-color: #9e9e9e;
        padding: 1px;
        font-size: 10px;
        margin-left: 10px;
    }
    .radius {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    #u131_img {
        border-width:0px;
        width:35px;
        height:35px;
    }
    #Stage5 {
        background: #e5243b;
        width: 300px;
        height: 110px;
    }
    #Stage4 {
        background: #ff3a21;
        width: 300px;
        height: 110px;
    }
    #Stage3 {
        background: #fd9D24;
        width: 300px;
        height: 112px;
    }
    #Stage2 {
        background: #dda63a;
        width: 300px;
        height: 110px;
    }
    #Stage1 {
        background: #4c9f38;
        width: 300px;
        height: 110px;
    }
    #VenturesMobile{
        display: none;
    }
}
