/**********************Desktop*******************/
    .container1{
        position: relative;
        column-count: 3;
        padding: 20px;
    }

    .image{
        display: inline-block;
        margin-bottom: 10px;
        overflow: hidden;
        padding: 10px;
    }
    img{
        width: 100%;
        transition: 0.25s ease-in-out;
    }

@media screen and (max-width:1024px) {
    h1{
        font-size: 20px;
    }
}

@media screen and (max-width:768px) {
    .container1{
        column-count: 4;
    }
}

@media screen and (max-width:425px) {
    .container1{
        column-count: 2;
    }

    h1 {
        font-size: 12px;
    }
}

@media screen and (max-width:375px) {
    .container1{
        column-count: 1;
    }

    h1 {
        font-size: 15px;
    }
}
