/**********************Mobile*******************/
@media screen and (max-width: 767px) {
    .desktopShowEvent{
        display: none;
    }
}
/**********************Desktop*******************/
@media screen and (min-width: 767px) {
    .mobileShowEvent{
        display: none;
    }

}
