﻿@media screen and (max-width: 767px) {
    #CurrentVenturesDesktop{
        display: none;
    }
    #ICTImage{
        width: 100%;
        height: 90%;
    }


    #INDCategory {
        width: 100%;
        height: 150%;

    }
    #ICTHeading {
        font-size: 2rem;
        font-family:Arial;
        margin-top:50vh;
        padding-left:50%;
    }
    #INDHeading {
        font-size: 2rem;
        font-family:Arial;
        margin-top:70vh;
        padding-left:54%;
    }
    #ICTIND {
        background: rgbA(128, 128, 128, 0.6);
        background-position: center;
        background-size: cover;
    }
}


/*Mobile CSS*/
@media screen and (max-width: 767px){

}

    @media screen and (min-width: 767px) {
    #ICTImageDesktop{
        height: 100%;
        width:100%;
    }
    #INDImageDesktop{
        height: 100%;
        width:100%;
    }

    #CurrentVenturesMobile{
        display: none;
    }
    #ICTCategory{
        background-image: url('../../images/gif-wallpaper3.gif');
        background-position: center;
        background-size: cover;
        height: 80vh;

    }
    #INDCategory {
        background-image: url('../../images/Industrial_Image.jpg');
        background-position: center;
        background-size: cover;
        height: 80vh;

    }
    #ICTHeading {
        font-size: 80px;
        font-family: Arial;
        color: #ffffff;
        background-size: cover;
        height: 70vh;
        padding-top: 100px;
    }
    #INDHeading {
        font-size: 80px;
        font-family: Arial;
        color: #ffffff;
        background-size: cover;
        height: 100vh;
        padding-top: 50px;
    }
    #ICTIND {
        background: rgbA(128, 128, 128, 0.6);
        background-position: center;
        background-size: cover;
    }
}


