/**********************Mobile*******************/
@media screen and (max-width: 767px) {
    #desktop-media{
        display: none;
    }
    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    .previous {
        background-color: #f1f1f1;
        color: black;
    }

    .next {
        background-color: #04AA6D;
        color: white;
    }



    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.60);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .overlay h1 {
        font-size: 65px;
        letter-spacing: 0px;
        margin: 0 0 5px;
    }

    .overlay p {
        margin: 0;
        font-size: 28px;
    }

    #vids a:first-of-type {
        margin-bottom: 5px;
    }


    a:hover {
        text-decoration: underline;
    }

    /*hr {*/
    /*    position: relative;*/
    /*    top: 20px;*/
    /*    border: none;*/
    /*    height: 6px;*/
    /*    background: black;*/
    /*    margin-bottom: 30px;*/
    /*}*/

    .container {
        position: relative;
    }


    .link:hover h4 {
        font-weight: bold;
    }


}
/**********************Desktop*******************/
@media screen and (min-width: 767px) {
    #mobile-media{
        display: none;
    }
    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    .previous {
        background-color: #f1f1f1;
        color: black;
    }

    .next {
        background-color: #04AA6D;
        color: white;
    }



    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.60);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .overlay h1 {
        font-size: 65px;
        letter-spacing: 0px;
        margin: 0 0 5px;
    }

    .overlay p {
        margin: 0;
        font-size: 28px;
    }

    #vids a:first-of-type {
        margin-bottom: 5px;
    }


    a:hover {
        text-decoration: underline;
    }

    /*hr {*/
    /*    position: relative;*/
    /*    top: 20px;*/
    /*    border: none;*/
    /*    height: 6px;*/
    /*    background: black;*/
    /*    margin-bottom: 30px;*/
    /*}*/

    .container {
        position: relative;
    }


    .link:hover h4 {
        font-weight: bold;
    }


}
